flow.xml
<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<flowController encoding-version="1.0">
  <maxTimerDrivenThreadCount>10</maxTimerDrivenThreadCount>
  <maxEventDrivenThreadCount>5</maxEventDrivenThreadCount>
  <rootGroup>
    <id>4a69e635-0157-1000-db40-048adbfa88e2</id>
    <name>NiFi Flow</name>
    <position x="0.0" y="0.0"/>
    <comment/>
    <processGroup>
      <id>07bdcf92-0158-1000-5d49-6c1d582ad17c</id>
      <name>Imagery Ingest</name>
      <position x="3972.5497530915536" y="616.4276497192368"/>
      <comment/>
      <processor>
        <id>d53f17c3-1000-1158-fe5f-bc3e4411b043</id>
        <name>LogAttribute</name>
        <position x="863.1150402054948" y="1721.756381667008"/>
        <styles/>
        <comment/>
        <class>org.apache.nifi.processors.standard.LogAttribute</class>
        <maxConcurrentTasks>1</maxConcurrentTasks>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <penalizationPeriod>30 sec</penalizationPeriod>
        <yieldPeriod>1 sec</yieldPeriod>
        <bulletinLevel>WARN</bulletinLevel>
        <lossTolerant>false</lossTolerant>
        <scheduledState>RUNNING</scheduledState>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <runDurationNanos>0</runDurationNanos>
        <property>
          <name>Log Level</name>
          <value>info</value>
        </property>
        <property>
          <name>Log Payload</name>
          <value>true</value>
        </property>
        <property>
          <name>Attributes to Log</name>
        </property>
        <property>
          <name>Attributes to Ignore</name>
        </property>
        <property>
          <name>Log prefix</name>
        </property>
      </processor>
      <processGroup>
        <id>bd8e588c-0159-1000-93b4-d77dbb7fb013</id>
        <name>Get RasterDataSet ID</name>
        <position x="298.9766510107447" y="1478.753187075203"/>
        <comment/>
        <processor>
          <id>d53e17bf-1011-1158-9f0f-5629daefc6d9</id>
          <name>LogAttribute</name>
          <position x="440.23800659310496" y="670.4438449927522"/>
          <styles/>
          <comment/>
          <class>org.apache.nifi.processors.standard.LogAttribute</class>
          <maxConcurrentTasks>1</maxConcurrentTasks>
          <schedulingPeriod>0 sec</schedulingPeriod>
          <penalizationPeriod>30 sec</penalizationPeriod>
          <yieldPeriod>1 sec</yieldPeriod>
          <bulletinLevel>WARN</bulletinLevel>
          <lossTolerant>false</lossTolerant>
          <scheduledState>RUNNING</scheduledState>
          <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
          <runDurationNanos>0</runDurationNanos>
          <property>
            <name>Log Level</name>
            <value>info</value>
          </property>
          <property>
            <name>Log Payload</name>
            <value>true</value>
          </property>
          <property>
            <name>Attributes to Log</name>
          </property>
          <property>
            <name>Attributes to Ignore</name>
          </property>
          <property>
            <name>Log prefix</name>
          </property>
        </processor>
        <processor>
          <id>0158100b-d541-17bf-2bf3-76d0b8c27540</id>
          <name>Set Fragment Info</name>
          <position x="969.6827460123283" y="1904.7819040364172"/>
          <styles/>
          <comment/>
          <class>org.apache.nifi.processors.attributes.UpdateAttribute</class>
          <maxConcurrentTasks>1</maxConcurrentTasks>
          <schedulingPeriod>0 sec</schedulingPeriod>
          <penalizationPeriod>30 sec</penalizationPeriod>
          <yieldPeriod>1 sec</yieldPeriod>
          <bulletinLevel>WARN</bulletinLevel>
          <lossTolerant>false</lossTolerant>
          <scheduledState>RUNNING</scheduledState>
          <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
          <runDurationNanos>0</runDurationNanos>
          <property>
            <name>Delete Attributes Expression</name>
          </property>
          <property>
            <name>fragment.count</name>
            <value>${rowCount}</value>
          </property>
          <property>
            <name>fragment.identifier</name>
            <value>${raster_data_set_id}</value>
          </property>
          <property>
            <name>fragment.index</name>
            <value>1</value>
          </property>
        </processor>
        <processor>
          <id>d53e17bf-101e-1158-db76-1e0088d17c3a</id>
          <name>ReplaceText</name>
          <position x="462.80294627801413" y="1402.5327869576447"/>
          <styles/>
          <comment/>
          <class>org.apache.nifi.processors.standard.ReplaceText</class>
          <maxConcurrentTasks>1</maxConcurrentTasks>
          <schedulingPeriod>0 sec</schedulingPeriod>
          <penalizationPeriod>30 sec</penalizationPeriod>
          <yieldPeriod>1 sec</yieldPeriod>
          <bulletinLevel>WARN</bulletinLevel>
          <lossTolerant>false</lossTolerant>
          <scheduledState>RUNNING</scheduledState>
          <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
          <runDurationNanos>0</runDurationNanos>
          <property>
            <name>Regular Expression</name>
            <value>(?s:^.*$)</value>
          </property>
          <property>
            <name>Replacement Value</name>
            <value>insert into raster_data_set  (id, version, repository_id) values (${raster_data_set_id}, 0, 0);</value>
          </property>
          <property>
            <name>Character Set</name>
            <value>UTF-8</value>
          </property>
          <property>
            <name>Maximum Buffer Size</name>
            <value>1 MB</value>
          </property>
          <property>
            <name>Replacement Strategy</name>
            <value>Regex Replace</value>
          </property>
          <property>
            <name>Evaluation Mode</name>
            <value>Entire text</value>
          </property>
          <autoTerminatedRelationship>failure</autoTerminatedRelationship>
        </processor>
        <processor>
          <id>d53e17bf-100b-1158-c27e-47d967abe058</id>
          <name>Write IDs to Attributes</name>
          <position x="450.6878967298237" y="908.3195774146272"/>
          <styles/>
          <comment/>
          <class>org.apache.nifi.processors.standard.EvaluateJsonPath</class>
          <maxConcurrentTasks>1</maxConcurrentTasks>
          <schedulingPeriod>0 sec</schedulingPeriod>
          <penalizationPeriod>30 sec</penalizationPeriod>
          <yieldPeriod>1 sec</yieldPeriod>
          <bulletinLevel>WARN</bulletinLevel>
          <lossTolerant>false</lossTolerant>
          <scheduledState>RUNNING</scheduledState>
          <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
          <runDurationNanos>0</runDurationNanos>
          <property>
            <name>Destination</name>
            <value>flowfile-attribute</value>
          </property>
          <property>
            <name>Return Type</name>
            <value>scalar</value>
          </property>
          <property>
            <name>Path Not Found Behavior</name>
            <value>ignore</value>
          </property>
          <property>
            <name>Null Value Representation</name>
            <value>empty string</value>
          </property>
          <property>
            <name>raster_file_id</name>
            <value>raster_file_id</value>
          </property>
          <property>
            <name>raster_data_set_id</name>
            <value>raster_data_set_id</value>
          </property>
          <autoTerminatedRelationship>failure</autoTerminatedRelationship>
          <autoTerminatedRelationship>unmatched</autoTerminatedRelationship>
        </processor>
        <processor>
          <id>d53e17bf-1009-1158-2162-2098c9a0d80d</id>
          <name>ConvertAvroToJSON</name>
          <position x="439.0000305188862" y="429.5120212622835"/>
          <styles/>
          <comment/>
          <class>org.apache.nifi.processors.avro.ConvertAvroToJSON</class>
          <maxConcurrentTasks>1</maxConcurrentTasks>
          <schedulingPeriod>0 sec</schedulingPeriod>
          <penalizationPeriod>30 sec</penalizationPeriod>
          <yieldPeriod>1 sec</yieldPeriod>
          <bulletinLevel>WARN</bulletinLevel>
          <lossTolerant>false</lossTolerant>
          <scheduledState>RUNNING</scheduledState>
          <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
          <runDurationNanos>0</runDurationNanos>
          <property>
            <name>JSON container options</name>
            <value>array</value>
          </property>
          <property>
            <name>Wrap Single Record</name>
            <value>false</value>
          </property>
          <property>
            <name>Avro schema</name>
          </property>
          <autoTerminatedRelationship>failure</autoTerminatedRelationship>
        </processor>
        <processor>
          <id>d53e17bf-1031-1158-8608-db4ef8840bdb</id>
          <name>LogAttribute</name>
          <position x="460.0000305188862" y="1587.9999748123025"/>
          <styles/>
          <comment/>
          <class>org.apache.nifi.processors.standard.LogAttribute</class>
          <maxConcurrentTasks>1</maxConcurrentTasks>
          <schedulingPeriod>0 sec</schedulingPeriod>
          <penalizationPeriod>30 sec</penalizationPeriod>
          <yieldPeriod>1 sec</yieldPeriod>
          <bulletinLevel>WARN</bulletinLevel>
          <lossTolerant>false</lossTolerant>
          <scheduledState>RUNNING</scheduledState>
          <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
          <runDurationNanos>0</runDurationNanos>
          <property>
            <name>Log Level</name>
            <value>info</value>
          </property>
          <property>
            <name>Log Payload</name>
            <value>true</value>
          </property>
          <property>
            <name>Attributes to Log</name>
          </property>
          <property>
            <name>Attributes to Ignore</name>
          </property>
          <property>
            <name>Log prefix</name>
          </property>
        </processor>
        <processor>
          <id>01581008-d541-17bf-ba91-90bcb7c0ab89</id>
          <name>Set Fragment Info</name>
          <position x="386.9604227999712" y="1767.1162216920272"/>
          <styles/>
          <comment/>
          <class>org.apache.nifi.processors.attributes.UpdateAttribute</class>
          <maxConcurrentTasks>1</maxConcurrentTasks>
          <schedulingPeriod>0 sec</schedulingPeriod>
          <penalizationPeriod>30 sec</penalizationPeriod>
          <yieldPeriod>1 sec</yieldPeriod>
          <bulletinLevel>WARN</bulletinLevel>
          <lossTolerant>false</lossTolerant>
          <scheduledState>RUNNING</scheduledState>
          <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
          <runDurationNanos>0</runDurationNanos>
          <property>
            <name>Delete Attributes Expression</name>
          </property>
          <property>
            <name>fragment.count</name>
            <value>${rowCount}</value>
          </property>
          <property>
            <name>fragment.identifier</name>
            <value>${raster_data_set_id}</value>
          </property>
          <property>
            <name>fragment.index</name>
            <value>0</value>
          </property>
          <property>
            <name>parentKeyFlowfile</name>
            <value>true</value>
          </property>
        </processor>
        <processor>
          <id>b1291429-1001-1158-4650-5e2f3f48b2dd</id>
          <name>LogAttribute</name>
          <position x="458.20480346810496" y="1178.0217868872835"/>
          <styles/>
          <comment/>
          <class>org.apache.nifi.processors.standard.LogAttribute</class>
          <maxConcurrentTasks>1</maxConcurrentTasks>
          <schedulingPeriod>0 sec</schedulingPeriod>
          <penalizationPeriod>30 sec</penalizationPeriod>
          <yieldPeriod>1 sec</yieldPeriod>
          <bulletinLevel>WARN</bulletinLevel>
          <lossTolerant>false</lossTolerant>
          <scheduledState>RUNNING</scheduledState>
          <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
          <runDurationNanos>0</runDurationNanos>
          <property>
            <name>Log Level</name>
            <value>info</value>
          </property>
          <property>
            <name>Log Payload</name>
            <value>true</value>
          </property>
          <property>
            <name>Attributes to Log</name>
          </property>
          <property>
            <name>Attributes to Ignore</name>
          </property>
          <property>
            <name>Log prefix</name>
          </property>
        </processor>
        <processor>
          <id>11841408-1000-1158-4772-a5694cc2c7df</id>
          <name>Get raster_data_set_id raster_file_id</name>
          <position x="451.60460018112417" y="190.99997481230253"/>
          <styles/>
          <comment/>
          <class>org.apache.nifi.processors.standard.ExecuteSQL</class>
          <maxConcurrentTasks>1</maxConcurrentTasks>
          <schedulingPeriod>0 sec</schedulingPeriod>
          <penalizationPeriod>30 sec</penalizationPeriod>
          <yieldPeriod>1 sec</yieldPeriod>
          <bulletinLevel>WARN</bulletinLevel>
          <lossTolerant>false</lossTolerant>
          <scheduledState>RUNNING</scheduledState>
          <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
          <runDurationNanos>0</runDurationNanos>
          <property>
            <name>Database Connection Pooling Service</name>
            <value>040bfcbe-0158-1000-af4f-397ec6553565</value>
          </property>
          <property>
            <name>SQL select query</name>
            <value>select nextval('raster_data_set_id_seq') as raster_data_set_id, nextval('raster_file_id_seq') as raster_file_id</value>
          </property>
          <property>
            <name>Max Wait Time</name>
            <value>0 seconds</value>
          </property>
          <autoTerminatedRelationship>failure</autoTerminatedRelationship>
        </processor>
        <processor>
          <id>d53e17c8-1031-1158-46d9-e7187ac3498f</id>
          <name>ReplaceText</name>
          <position x="993.0000305188862" y="1679.9999748123025"/>
          <styles/>
          <comment/>
          <class>org.apache.nifi.processors.standard.ReplaceText</class>
          <maxConcurrentTasks>1</maxConcurrentTasks>
          <schedulingPeriod>0 sec</schedulingPeriod>
          <penalizationPeriod>30 sec</penalizationPeriod>
          <yieldPeriod>1 sec</yieldPeriod>
          <bulletinLevel>WARN</bulletinLevel>
          <lossTolerant>false</lossTolerant>
          <scheduledState>RUNNING</scheduledState>
          <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
          <runDurationNanos>0</runDurationNanos>
          <property>
            <name>Regular Expression</name>
            <value>(?s:^.*$)</value>
          </property>
          <property>
            <name>Replacement Value</name>
            <value>insert into raster_file (id, version, format, name, raster_data_set_id, type) values (${raster_file_id}, 0, 'image', '${outputDir}/${filename}', ${raster_data_set_id}, 'main');</value>
          </property>
          <property>
            <name>Character Set</name>
            <value>UTF-8</value>
          </property>
          <property>
            <name>Maximum Buffer Size</name>
            <value>1 MB</value>
          </property>
          <property>
            <name>Replacement Strategy</name>
            <value>Regex Replace</value>
          </property>
          <property>
            <name>Evaluation Mode</name>
            <value>Entire text</value>
          </property>
          <autoTerminatedRelationship>failure</autoTerminatedRelationship>
        </processor>
        <inputPort>
          <id>d53e17c4-101e-1158-8cd9-f44e4a46a657</id>
          <name>INPUT</name>
          <position x="500.0000000013081" y="113.99998244169706"/>
          <comments/>
          <scheduledState>RUNNING</scheduledState>
        </inputPort>
        <outputPort>
          <id>d53e17ca-1031-1158-0a0b-5948f56c9c43</id>
          <name>OUTPUT2</name>
          <position x="948.1261291516987" y="2146.8967033279278"/>
          <comments/>
          <scheduledState>RUNNING</scheduledState>
        </outputPort>
        <outputPort>
          <id>d53e17c8-101e-1158-cd33-a2140ce10c75</id>
          <name>OUTPUT</name>
          <position x="447.24703979622996" y="2139.6553703201153"/>
          <comments/>
          <scheduledState>RUNNING</scheduledState>
        </outputPort>
        <connection>
          <id>0158100c-d541-17bf-5c56-07082c761435</id>
          <name/>
          <bendPoints/>
          <labelIndex>1</labelIndex>
          <zIndex>0</zIndex>
          <sourceId>d53e17c8-1031-1158-46d9-e7187ac3498f</sourceId>
          <sourceGroupId>bd8e588c-0159-1000-93b4-d77dbb7fb013</sourceGroupId>
          <sourceType>PROCESSOR</sourceType>
          <destinationId>0158100b-d541-17bf-2bf3-76d0b8c27540</destinationId>
          <destinationGroupId>bd8e588c-0159-1000-93b4-d77dbb7fb013</destinationGroupId>
          <destinationType>PROCESSOR</destinationType>
          <relationship>success</relationship>
          <maxWorkQueueSize>10000</maxWorkQueueSize>
          <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
          <flowFileExpiration>0 sec</flowFileExpiration>
        </connection>
        <connection>
          <id>d53e17c0-1031-1158-5e36-659aae8b1f86</id>
          <name/>
          <bendPoints/>
          <labelIndex>1</labelIndex>
          <zIndex>0</zIndex>
          <sourceId>d53e17bf-101e-1158-db76-1e0088d17c3a</sourceId>
          <sourceGroupId>bd8e588c-0159-1000-93b4-d77dbb7fb013</sourceGroupId>
          <sourceType>PROCESSOR</sourceType>
          <destinationId>d53e17bf-1031-1158-8608-db4ef8840bdb</destinationId>
          <destinationGroupId>bd8e588c-0159-1000-93b4-d77dbb7fb013</destinationGroupId>
          <destinationType>PROCESSOR</destinationType>
          <relationship>success</relationship>
          <maxWorkQueueSize>10000</maxWorkQueueSize>
          <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
          <flowFileExpiration>0 sec</flowFileExpiration>
        </connection>
        <connection>
          <id>d53e17c2-101e-1158-a620-ad4b872793b2</id>
          <name/>
          <bendPoints/>
          <labelIndex>1</labelIndex>
          <zIndex>0</zIndex>
          <sourceId>11841408-1000-1158-4772-a5694cc2c7df</sourceId>
          <sourceGroupId>bd8e588c-0159-1000-93b4-d77dbb7fb013</sourceGroupId>
          <sourceType>PROCESSOR</sourceType>
          <destinationId>d53e17bf-1009-1158-2162-2098c9a0d80d</destinationId>
          <destinationGroupId>bd8e588c-0159-1000-93b4-d77dbb7fb013</destinationGroupId>
          <destinationType>PROCESSOR</destinationType>
          <relationship>success</relationship>
          <maxWorkQueueSize>10000</maxWorkQueueSize>
          <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
          <flowFileExpiration>0 sec</flowFileExpiration>
        </connection>
        <connection>
          <id>d53e17c5-101e-1158-f6f5-dd66b77df391</id>
          <name/>
          <bendPoints/>
          <labelIndex>1</labelIndex>
          <zIndex>0</zIndex>
          <sourceId>d53e17c4-101e-1158-8cd9-f44e4a46a657</sourceId>
          <sourceGroupId>bd8e588c-0159-1000-93b4-d77dbb7fb013</sourceGroupId>
          <sourceType>INPUT_PORT</sourceType>
          <destinationId>11841408-1000-1158-4772-a5694cc2c7df</destinationId>
          <destinationGroupId>bd8e588c-0159-1000-93b4-d77dbb7fb013</destinationGroupId>
          <destinationType>PROCESSOR</destinationType>
          <relationship/>
          <maxWorkQueueSize>10000</maxWorkQueueSize>
          <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
          <flowFileExpiration>0 sec</flowFileExpiration>
        </connection>
        <connection>
          <id>01581009-d541-17bf-0af4-a9b99b6817f7</id>
          <name/>
          <bendPoints/>
          <labelIndex>1</labelIndex>
          <zIndex>0</zIndex>
          <sourceId>d53e17bf-1031-1158-8608-db4ef8840bdb</sourceId>
          <sourceGroupId>bd8e588c-0159-1000-93b4-d77dbb7fb013</sourceGroupId>
          <sourceType>PROCESSOR</sourceType>
          <destinationId>01581008-d541-17bf-ba91-90bcb7c0ab89</destinationId>
          <destinationGroupId>bd8e588c-0159-1000-93b4-d77dbb7fb013</destinationGroupId>
          <destinationType>PROCESSOR</destinationType>
          <relationship>success</relationship>
          <maxWorkQueueSize>10000</maxWorkQueueSize>
          <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
          <flowFileExpiration>0 sec</flowFileExpiration>
        </connection>
        <connection>
          <id>d53e17c9-1031-1158-c9c0-5be2fc04feb9</id>
          <name/>
          <bendPoints/>
          <labelIndex>1</labelIndex>
          <zIndex>0</zIndex>
          <sourceId>d53e17bf-1031-1158-8608-db4ef8840bdb</sourceId>
          <sourceGroupId>bd8e588c-0159-1000-93b4-d77dbb7fb013</sourceGroupId>
          <sourceType>PROCESSOR</sourceType>
          <destinationId>d53e17c8-1031-1158-46d9-e7187ac3498f</destinationId>
          <destinationGroupId>bd8e588c-0159-1000-93b4-d77dbb7fb013</destinationGroupId>
          <destinationType>PROCESSOR</destinationType>
          <relationship>success</relationship>
          <maxWorkQueueSize>10000</maxWorkQueueSize>
          <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
          <flowFileExpiration>0 sec</flowFileExpiration>
        </connection>
        <connection>
          <id>0158100d-d541-17bf-7c8f-0abfef395505</id>
          <name/>
          <bendPoints/>
          <labelIndex>1</labelIndex>
          <zIndex>0</zIndex>
          <sourceId>0158100b-d541-17bf-2bf3-76d0b8c27540</sourceId>
          <sourceGroupId>bd8e588c-0159-1000-93b4-d77dbb7fb013</sourceGroupId>
          <sourceType>PROCESSOR</sourceType>
          <destinationId>d53e17ca-1031-1158-0a0b-5948f56c9c43</destinationId>
          <destinationGroupId>bd8e588c-0159-1000-93b4-d77dbb7fb013</destinationGroupId>
          <destinationType>OUTPUT_PORT</destinationType>
          <relationship>success</relationship>
          <maxWorkQueueSize>10000</maxWorkQueueSize>
          <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
          <flowFileExpiration>0 sec</flowFileExpiration>
        </connection>
        <connection>
          <id>0158100e-d541-17bf-e811-0c784bfc5b18</id>
          <name/>
          <bendPoints/>
          <labelIndex>1</labelIndex>
          <zIndex>0</zIndex>
          <sourceId>01581008-d541-17bf-ba91-90bcb7c0ab89</sourceId>
          <sourceGroupId>bd8e588c-0159-1000-93b4-d77dbb7fb013</sourceGroupId>
          <sourceType>PROCESSOR</sourceType>
          <destinationId>d53e17c8-101e-1158-cd33-a2140ce10c75</destinationId>
          <destinationGroupId>bd8e588c-0159-1000-93b4-d77dbb7fb013</destinationGroupId>
          <destinationType>OUTPUT_PORT</destinationType>
          <relationship>success</relationship>
          <maxWorkQueueSize>10000</maxWorkQueueSize>
          <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
          <flowFileExpiration>0 sec</flowFileExpiration>
        </connection>
        <connection>
          <id>d53e17c1-101e-1158-78fd-293435183fc4</id>
          <name/>
          <bendPoints/>
          <labelIndex>1</labelIndex>
          <zIndex>0</zIndex>
          <sourceId>b1291429-1001-1158-4650-5e2f3f48b2dd</sourceId>
          <sourceGroupId>bd8e588c-0159-1000-93b4-d77dbb7fb013</sourceGroupId>
          <sourceType>PROCESSOR</sourceType>
          <destinationId>d53e17bf-101e-1158-db76-1e0088d17c3a</destinationId>
          <destinationGroupId>bd8e588c-0159-1000-93b4-d77dbb7fb013</destinationGroupId>
          <destinationType>PROCESSOR</destinationType>
          <relationship>success</relationship>
          <maxWorkQueueSize>10000</maxWorkQueueSize>
          <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
          <flowFileExpiration>0 sec</flowFileExpiration>
        </connection>
        <connection>
          <id>d53e17c6-101e-1158-64f2-ebcb2e359ad4</id>
          <name/>
          <bendPoints/>
          <labelIndex>1</labelIndex>
          <zIndex>0</zIndex>
          <sourceId>d53e17bf-1011-1158-9f0f-5629daefc6d9</sourceId>
          <sourceGroupId>bd8e588c-0159-1000-93b4-d77dbb7fb013</sourceGroupId>
          <sourceType>PROCESSOR</sourceType>
          <destinationId>d53e17bf-100b-1158-c27e-47d967abe058</destinationId>
          <destinationGroupId>bd8e588c-0159-1000-93b4-d77dbb7fb013</destinationGroupId>
          <destinationType>PROCESSOR</destinationType>
          <relationship>success</relationship>
          <maxWorkQueueSize>10000</maxWorkQueueSize>
          <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
          <flowFileExpiration>0 sec</flowFileExpiration>
        </connection>
        <connection>
          <id>d53e17c3-101e-1158-6628-08d968eee37c</id>
          <name/>
          <bendPoints/>
          <labelIndex>1</labelIndex>
          <zIndex>0</zIndex>
          <sourceId>d53e17bf-1009-1158-2162-2098c9a0d80d</sourceId>
          <sourceGroupId>bd8e588c-0159-1000-93b4-d77dbb7fb013</sourceGroupId>
          <sourceType>PROCESSOR</sourceType>
          <destinationId>d53e17bf-1011-1158-9f0f-5629daefc6d9</destinationId>
          <destinationGroupId>bd8e588c-0159-1000-93b4-d77dbb7fb013</destinationGroupId>
          <destinationType>PROCESSOR</destinationType>
          <relationship>success</relationship>
          <maxWorkQueueSize>10000</maxWorkQueueSize>
          <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
          <flowFileExpiration>0 sec</flowFileExpiration>
        </connection>
        <connection>
          <id>d53e17c7-101e-1158-ac52-880ad203538c</id>
          <name/>
          <bendPoints/>
          <labelIndex>1</labelIndex>
          <zIndex>0</zIndex>
          <sourceId>d53e17bf-100b-1158-c27e-47d967abe058</sourceId>
          <sourceGroupId>bd8e588c-0159-1000-93b4-d77dbb7fb013</sourceGroupId>
          <sourceType>PROCESSOR</sourceType>
          <destinationId>b1291429-1001-1158-4650-5e2f3f48b2dd</destinationId>
          <destinationGroupId>bd8e588c-0159-1000-93b4-d77dbb7fb013</destinationGroupId>
          <destinationType>PROCESSOR</destinationType>
          <relationship>matched</relationship>
          <maxWorkQueueSize>10000</maxWorkQueueSize>
          <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
          <flowFileExpiration>0 sec</flowFileExpiration>
        </connection>
      </processGroup>
      <processGroup>
        <id>0159101d-f936-18c6-9da7-f6a6c01393db</id>
        <name>Parse Metadata</name>
        <position x="302.16068526476806" y="1811.0632904894703"/>
        <comment/>
        <processor>
          <id>8a0dd729-0158-1000-9b59-11456398cde2</id>
          <name>Write Metadata To Flow File Again</name>
          <position x="563.8121552410449" y="145.99997372083612"/>
          <styles/>
          <comment/>
          <class>org.apache.nifi.processors.standard.ReplaceText</class>
          <maxConcurrentTasks>1</maxConcurrentTasks>
          <schedulingPeriod>0 sec</schedulingPeriod>
          <penalizationPeriod>30 sec</penalizationPeriod>
          <yieldPeriod>1 sec</yieldPeriod>
          <bulletinLevel>WARN</bulletinLevel>
          <lossTolerant>false</lossTolerant>
          <scheduledState>RUNNING</scheduledState>
          <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
          <runDurationNanos>0</runDurationNanos>
          <property>
            <name>Regular Expression</name>
            <value>(?s:^.*$)</value>
          </property>
          <property>
            <name>Replacement Value</name>
            <value>${omarmetadata}</value>
          </property>
          <property>
            <name>Character Set</name>
            <value>UTF-8</value>
          </property>
          <property>
            <name>Maximum Buffer Size</name>
            <value>1 MB</value>
          </property>
          <property>
            <name>Replacement Strategy</name>
            <value>Always Replace</value>
          </property>
          <property>
            <name>Evaluation Mode</name>
            <value>Entire text</value>
          </property>
          <autoTerminatedRelationship>failure</autoTerminatedRelationship>
        </processor>
        <processor>
          <id>07bfd540-0158-1000-672d-8e0dde348ac0</id>
          <name>Write Metadata to Attibutes</name>
          <position x="627.0440594072621" y="669.4076822710001"/>
          <styles/>
          <comment/>
          <class>org.apache.nifi.processors.standard.EvaluateJsonPath</class>
          <maxConcurrentTasks>1</maxConcurrentTasks>
          <schedulingPeriod>0 sec</schedulingPeriod>
          <penalizationPeriod>30 sec</penalizationPeriod>
          <yieldPeriod>1 sec</yieldPeriod>
          <bulletinLevel>WARN</bulletinLevel>
          <lossTolerant>false</lossTolerant>
          <scheduledState>RUNNING</scheduledState>
          <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
          <runDurationNanos>0</runDurationNanos>
          <property>
            <name>Destination</name>
            <value>flowfile-attribute</value>
          </property>
          <property>
            <name>Return Type</name>
            <value>scalar</value>
          </property>
          <property>
            <name>Path Not Found Behavior</name>
            <value>ignore</value>
          </property>
          <property>
            <name>Null Value Representation</name>
            <value>the string 'null'</value>
          </property>
          <property>
            <name>className</name>
            <value>className</value>
          </property>
          <property>
            <name>entryId</name>
            <value>entryId</value>
          </property>
          <property>
            <name>sunElevation</name>
            <value>sunElevation</value>
          </property>
          <property>
            <name>missionId</name>
            <value>missionId</value>
          </property>
          <property>
            <name>niirs</name>
            <value>niirs</value>
          </property>
          <property>
            <name>cloudCover</name>
            <value>cloudCover</value>
          </property>
          <property>
            <name>securityClassification</name>
            <value>securityClassification</value>
          </property>
          <property>
            <name>acquisitionDate</name>
            <value>acquisitionDate</value>
          </property>
          <property>
            <name>isctlh</name>
            <value>isctlh</value>
          </property>
          <property>
            <name>bitDepth</name>
            <value>bitDepth</value>
          </property>
          <property>
            <name>tiePoints</name>
            <value>tiePoints</value>
          </property>
          <property>
            <name>sunAzimuth</name>
            <value>sunAzimuth</value>
          </property>
          <property>
            <name>countryCode</name>
            <value>countryCode</value>
          </property>
          <property>
            <name>width</name>
            <value>width</value>
          </property>
          <property>
            <name>imageRepresentation</name>
            <value>imageRepresentation</value>
          </property>
          <property>
            <name>beNumber</name>
            <value>beNumber</value>
          </property>
          <property>
            <name>organization</name>
            <value>organization</value>
          </property>
          <property>
            <name>groundGeom</name>
            <value>groundGeom</value>
          </property>
          <property>
            <name>numberOfBands</name>
            <value>numberOfBands</value>
          </property>
          <property>
            <name>gsdy</name>
            <value>gsdy</value>
          </property>
          <property>
            <name>numberOfResLevels</name>
            <value>numberOfResLevels</value>
          </property>
          <property>
            <name>height</name>
            <value>height</value>
          </property>
          <property>
            <name>grazingAngle</name>
            <value>grazingAngle</value>
          </property>
          <property>
            <name>shadowAngle</name>
            <value>shadowAngle</value>
          </property>
          <property>
            <name>imageCategory</name>
            <value>imageCategory</value>
          </property>
          <property>
            <name>description</name>
            <value>description</value>
          </property>
          <property>
            <name>productId</name>
            <value>productId</value>
          </property>
          <property>
            <name>dataType</name>
            <value>dataType</value>
          </property>
          <property>
            <name>title</name>
            <value>title</value>
          </property>
          <property>
            <name>gsdx</name>
            <value>gsdx</value>
          </property>
          <property>
            <name>imageId</name>
            <value>imageId</value>
          </property>
          <property>
            <name>entryName</name>
            <value>entryName</value>
          </property>
          <property>
            <name>azimuthAngle</name>
            <value>azimuthAngle</value>
          </property>
          <autoTerminatedRelationship>failure</autoTerminatedRelationship>
          <autoTerminatedRelationship>unmatched</autoTerminatedRelationship>
        </processor>
        <processor>
          <id>07bfd541-0158-1000-a258-6d4077a83e45</id>
          <name>Split Image Entries</name>
          <position x="617.9999920244496" y="406.7365396928751"/>
          <styles/>
          <comment>$.* is supposed to split a json root array according to stackoverflow</comment>
          <class>org.apache.nifi.processors.standard.SplitJson</class>
          <maxConcurrentTasks>1</maxConcurrentTasks>
          <schedulingPeriod>0 sec</schedulingPeriod>
          <penalizationPeriod>30 sec</penalizationPeriod>
          <yieldPeriod>1 sec</yieldPeriod>
          <bulletinLevel>WARN</bulletinLevel>
          <lossTolerant>false</lossTolerant>
          <scheduledState>RUNNING</scheduledState>
          <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
          <runDurationNanos>0</runDurationNanos>
          <property>
            <name>JsonPath Expression</name>
            <value>$.*</value>
          </property>
          <property>
            <name>Null Value Representation</name>
            <value>empty string</value>
          </property>
          <autoTerminatedRelationship>failure</autoTerminatedRelationship>
          <autoTerminatedRelationship>original</autoTerminatedRelationship>
        </processor>
        <inputPort>
          <id>0159101f-f936-18c6-9e22-0d3db27a23af</id>
          <name>INPUT</name>
          <position x="547.9999920244496" y="-22.00002246446661"/>
          <comments/>
          <scheduledState>RUNNING</scheduledState>
        </inputPort>
        <outputPort>
          <id>01591020-f936-18c6-8f5d-10232188b219</id>
          <name>OUTPUT</name>
          <position x="696.9999920244496" y="933.0000042384142"/>
          <comments/>
          <scheduledState>RUNNING</scheduledState>
        </outputPort>
        <connection>
          <id>8a0fa0c9-0158-1000-bbc1-79df36dbd2b8</id>
          <name/>
          <bendPoints/>
          <labelIndex>1</labelIndex>
          <zIndex>0</zIndex>
          <sourceId>8a0dd729-0158-1000-9b59-11456398cde2</sourceId>
          <sourceGroupId>0159101d-f936-18c6-9da7-f6a6c01393db</sourceGroupId>
          <sourceType>PROCESSOR</sourceType>
          <destinationId>07bfd541-0158-1000-a258-6d4077a83e45</destinationId>
          <destinationGroupId>0159101d-f936-18c6-9da7-f6a6c01393db</destinationGroupId>
          <destinationType>PROCESSOR</destinationType>
          <relationship>success</relationship>
          <maxWorkQueueSize>10000</maxWorkQueueSize>
          <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
          <flowFileExpiration>0 sec</flowFileExpiration>
        </connection>
        <connection>
          <id>01581015-d53e-17bf-3fcd-49bb487947d2</id>
          <name/>
          <bendPoints/>
          <labelIndex>1</labelIndex>
          <zIndex>0</zIndex>
          <sourceId>07bfd541-0158-1000-a258-6d4077a83e45</sourceId>
          <sourceGroupId>0159101d-f936-18c6-9da7-f6a6c01393db</sourceGroupId>
          <sourceType>PROCESSOR</sourceType>
          <destinationId>07bfd540-0158-1000-672d-8e0dde348ac0</destinationId>
          <destinationGroupId>0159101d-f936-18c6-9da7-f6a6c01393db</destinationGroupId>
          <destinationType>PROCESSOR</destinationType>
          <relationship>split</relationship>
          <maxWorkQueueSize>10000</maxWorkQueueSize>
          <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
          <flowFileExpiration>0 sec</flowFileExpiration>
        </connection>
        <connection>
          <id>f1f46658-0159-1000-5483-28942a9449cd</id>
          <name/>
          <bendPoints/>
          <labelIndex>1</labelIndex>
          <zIndex>0</zIndex>
          <sourceId>07bfd540-0158-1000-672d-8e0dde348ac0</sourceId>
          <sourceGroupId>0159101d-f936-18c6-9da7-f6a6c01393db</sourceGroupId>
          <sourceType>PROCESSOR</sourceType>
          <destinationId>01591020-f936-18c6-8f5d-10232188b219</destinationId>
          <destinationGroupId>0159101d-f936-18c6-9da7-f6a6c01393db</destinationGroupId>
          <destinationType>OUTPUT_PORT</destinationType>
          <relationship>matched</relationship>
          <maxWorkQueueSize>10000</maxWorkQueueSize>
          <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
          <flowFileExpiration>0 sec</flowFileExpiration>
        </connection>
        <connection>
          <id>f1f486a3-0159-1000-7d82-8cc9483db8cc</id>
          <name/>
          <bendPoints/>
          <labelIndex>1</labelIndex>
          <zIndex>0</zIndex>
          <sourceId>0159101f-f936-18c6-9e22-0d3db27a23af</sourceId>
          <sourceGroupId>0159101d-f936-18c6-9da7-f6a6c01393db</sourceGroupId>
          <sourceType>INPUT_PORT</sourceType>
          <destinationId>8a0dd729-0158-1000-9b59-11456398cde2</destinationId>
          <destinationGroupId>0159101d-f936-18c6-9da7-f6a6c01393db</destinationGroupId>
          <destinationType>PROCESSOR</destinationType>
          <relationship/>
          <maxWorkQueueSize>10000</maxWorkQueueSize>
          <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
          <flowFileExpiration>0 sec</flowFileExpiration>
        </connection>
      </processGroup>
      <processGroup>
        <id>01591025-f936-18c6-b66a-165b2ee904f1</id>
        <name>Insert and Cleanup</name>
        <position x="1277.5508840512762" y="1699.4304802779398"/>
        <comment/>
        <processor>
          <id>01581000-8e4f-15a8-1b23-831c3af73ae8</id>
          <name>Remove Input File</name>
          <position x="521.0000133166892" y="544.4272233301044"/>
          <styles/>
          <comment/>
          <class>org.apache.nifi.processors.standard.ExecuteStreamCommand</class>
          <maxConcurrentTasks>1</maxConcurrentTasks>
          <schedulingPeriod>0 sec</schedulingPeriod>
          <penalizationPeriod>30 sec</penalizationPeriod>
          <yieldPeriod>1 sec</yieldPeriod>
          <bulletinLevel>WARN</bulletinLevel>
          <lossTolerant>false</lossTolerant>
          <scheduledState>RUNNING</scheduledState>
          <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
          <runDurationNanos>0</runDurationNanos>
          <property>
            <name>Command Arguments</name>
            <value>-f;${absolute.path}/${filename}</value>
          </property>
          <property>
            <name>Command Path</name>
            <value>rm</value>
          </property>
          <property>
            <name>Ignore STDIN</name>
            <value>true</value>
          </property>
          <property>
            <name>Working Directory</name>
          </property>
          <property>
            <name>Argument Delimiter</name>
            <value>;</value>
          </property>
          <property>
            <name>Output Destination Attribute</name>
          </property>
          <property>
            <name>Max Attribute Length</name>
            <value>256</value>
          </property>
          <autoTerminatedRelationship>output stream</autoTerminatedRelationship>
          <autoTerminatedRelationship>original</autoTerminatedRelationship>
        </processor>
        <processor>
          <id>01591029-f936-18c6-0925-2eb4f036319c</id>
          <name>Insert All Records</name>
          <position x="554.1485825677597" y="137.99997372083544"/>
          <styles/>
          <comment/>
          <class>org.apache.nifi.processors.standard.PutSQL</class>
          <maxConcurrentTasks>1</maxConcurrentTasks>
          <schedulingPeriod>5 sec</schedulingPeriod>
          <penalizationPeriod>1 sec</penalizationPeriod>
          <yieldPeriod>1 sec</yieldPeriod>
          <bulletinLevel>WARN</bulletinLevel>
          <lossTolerant>false</lossTolerant>
          <scheduledState>RUNNING</scheduledState>
          <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
          <runDurationNanos>0</runDurationNanos>
          <property>
            <name>JDBC Connection Pool</name>
            <value>040bfcbe-0158-1000-af4f-397ec6553565</value>
          </property>
          <property>
            <name>Support Fragmented Transactions</name>
            <value>true</value>
          </property>
          <property>
            <name>Transaction Timeout</name>
            <value>600 secs</value>
          </property>
          <property>
            <name>Batch Size</name>
            <value>1</value>
          </property>
          <property>
            <name>Obtain Generated Keys</name>
            <value>false</value>
          </property>
        </processor>
        <processor>
          <id>01591028-f936-18c6-6124-aa52badcd90f</id>
          <name>RouteOnAttribute</name>
          <position x="526.3971173056619" y="349.2112676234756"/>
          <styles/>
          <comment/>
          <class>org.apache.nifi.processors.standard.RouteOnAttribute</class>
          <maxConcurrentTasks>1</maxConcurrentTasks>
          <schedulingPeriod>0 sec</schedulingPeriod>
          <penalizationPeriod>30 sec</penalizationPeriod>
          <yieldPeriod>1 sec</yieldPeriod>
          <bulletinLevel>WARN</bulletinLevel>
          <lossTolerant>false</lossTolerant>
          <scheduledState>RUNNING</scheduledState>
          <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
          <runDurationNanos>0</runDurationNanos>
          <property>
            <name>Routing Strategy</name>
            <value>Route to Property name</value>
          </property>
          <property>
            <name>firstRecord</name>
            <value>${fragment.index:le(0)}</value>
          </property>
          <autoTerminatedRelationship>unmatched</autoTerminatedRelationship>
        </processor>
        <processor>
          <id>01591027-f936-18c6-53d4-75cbf0fa1d5d</id>
          <name>LogAttribute</name>
          <position x="1066.4201359599251" y="283.626990547642"/>
          <styles/>
          <comment/>
          <class>org.apache.nifi.processors.standard.LogAttribute</class>
          <maxConcurrentTasks>1</maxConcurrentTasks>
          <schedulingPeriod>0 sec</schedulingPeriod>
          <penalizationPeriod>30 sec</penalizationPeriod>
          <yieldPeriod>1 sec</yieldPeriod>
          <bulletinLevel>WARN</bulletinLevel>
          <lossTolerant>false</lossTolerant>
          <scheduledState>RUNNING</scheduledState>
          <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
          <runDurationNanos>0</runDurationNanos>
          <property>
            <name>Log Level</name>
            <value>info</value>
          </property>
          <property>
            <name>Log Payload</name>
            <value>true</value>
          </property>
          <property>
            <name>Attributes to Log</name>
          </property>
          <property>
            <name>Attributes to Ignore</name>
          </property>
          <property>
            <name>Log prefix</name>
          </property>
          <autoTerminatedRelationship>success</autoTerminatedRelationship>
        </processor>
        <inputPort>
          <id>01581005-8e4f-15a8-49a6-ec1c228fb91a</id>
          <name>INPUT</name>
          <position x="599.0000133166892" y="-8.000022464467293"/>
          <comments/>
          <scheduledState>RUNNING</scheduledState>
        </inputPort>
        <connection>
          <id>01581002-8e4f-15a8-2fc6-20a9ec646686</id>
          <name/>
          <bendPoints>
            <bendPoint x="1009.1485825677597" y="177.99997372083544"/>
            <bendPoint x="1009.1485825677597" y="227.99997372083544"/>
          </bendPoints>
          <labelIndex>1</labelIndex>
          <zIndex>0</zIndex>
          <sourceId>01591029-f936-18c6-0925-2eb4f036319c</sourceId>
          <sourceGroupId>01591025-f936-18c6-b66a-165b2ee904f1</sourceGroupId>
          <sourceType>PROCESSOR</sourceType>
          <destinationId>01591029-f936-18c6-0925-2eb4f036319c</destinationId>
          <destinationGroupId>01591025-f936-18c6-b66a-165b2ee904f1</destinationGroupId>
          <destinationType>PROCESSOR</destinationType>
          <relationship>retry</relationship>
          <maxWorkQueueSize>10000</maxWorkQueueSize>
          <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
          <flowFileExpiration>0 sec</flowFileExpiration>
        </connection>
        <connection>
          <id>01581003-8e4f-15a8-58ba-6e5514926b4d</id>
          <name/>
          <bendPoints/>
          <labelIndex>1</labelIndex>
          <zIndex>0</zIndex>
          <sourceId>01591029-f936-18c6-0925-2eb4f036319c</sourceId>
          <sourceGroupId>01591025-f936-18c6-b66a-165b2ee904f1</sourceGroupId>
          <sourceType>PROCESSOR</sourceType>
          <destinationId>01591028-f936-18c6-6124-aa52badcd90f</destinationId>
          <destinationGroupId>01591025-f936-18c6-b66a-165b2ee904f1</destinationGroupId>
          <destinationType>PROCESSOR</destinationType>
          <relationship>success</relationship>
          <maxWorkQueueSize>10000</maxWorkQueueSize>
          <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
          <flowFileExpiration>0 sec</flowFileExpiration>
        </connection>
        <connection>
          <id>01581004-8e4f-15a8-1eec-44d5b85859e4</id>
          <name/>
          <bendPoints/>
          <labelIndex>1</labelIndex>
          <zIndex>0</zIndex>
          <sourceId>01591028-f936-18c6-6124-aa52badcd90f</sourceId>
          <sourceGroupId>01591025-f936-18c6-b66a-165b2ee904f1</sourceGroupId>
          <sourceType>PROCESSOR</sourceType>
          <destinationId>01581000-8e4f-15a8-1b23-831c3af73ae8</destinationId>
          <destinationGroupId>01591025-f936-18c6-b66a-165b2ee904f1</destinationGroupId>
          <destinationType>PROCESSOR</destinationType>
          <relationship>firstRecord</relationship>
          <maxWorkQueueSize>10000</maxWorkQueueSize>
          <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
          <flowFileExpiration>0 sec</flowFileExpiration>
        </connection>
        <connection>
          <id>01581006-8e4f-15a8-52b0-6fe41dc1c4f8</id>
          <name/>
          <bendPoints/>
          <labelIndex>1</labelIndex>
          <zIndex>0</zIndex>
          <sourceId>01581005-8e4f-15a8-49a6-ec1c228fb91a</sourceId>
          <sourceGroupId>01591025-f936-18c6-b66a-165b2ee904f1</sourceGroupId>
          <sourceType>INPUT_PORT</sourceType>
          <destinationId>01591029-f936-18c6-0925-2eb4f036319c</destinationId>
          <destinationGroupId>01591025-f936-18c6-b66a-165b2ee904f1</destinationGroupId>
          <destinationType>PROCESSOR</destinationType>
          <relationship/>
          <maxWorkQueueSize>10000</maxWorkQueueSize>
          <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
          <flowFileExpiration>0 sec</flowFileExpiration>
        </connection>
        <connection>
          <id>01581001-8e4f-15a8-27e8-7a84ad4a416f</id>
          <name/>
          <bendPoints/>
          <labelIndex>1</labelIndex>
          <zIndex>0</zIndex>
          <sourceId>01591029-f936-18c6-0925-2eb4f036319c</sourceId>
          <sourceGroupId>01591025-f936-18c6-b66a-165b2ee904f1</sourceGroupId>
          <sourceType>PROCESSOR</sourceType>
          <destinationId>01591027-f936-18c6-53d4-75cbf0fa1d5d</destinationId>
          <destinationGroupId>01591025-f936-18c6-b66a-165b2ee904f1</destinationGroupId>
          <destinationType>PROCESSOR</destinationType>
          <relationship>failure</relationship>
          <maxWorkQueueSize>10000</maxWorkQueueSize>
          <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
          <flowFileExpiration>0 sec</flowFileExpiration>
        </connection>
      </processGroup>
      <processGroup>
        <id>01581008-8e4f-15a8-a144-ade9e4175646</id>
        <name>Discover and Archive</name>
        <position x="307.74204825376364" y="1187.3157977031726"/>
        <comment/>
        <processor>
          <id>01581010-8e4f-15a8-32ad-7116f301d1ec</id>
          <name>Imagery Poller</name>
          <position x="857.0927685739603" y="255.99997372083578"/>
          <styles/>
          <comment/>
          <class>org.apache.nifi.processors.standard.ListFile</class>
          <maxConcurrentTasks>1</maxConcurrentTasks>
          <schedulingPeriod>0 sec</schedulingPeriod>
          <penalizationPeriod>30 sec</penalizationPeriod>
          <yieldPeriod>1 sec</yieldPeriod>
          <bulletinLevel>WARN</bulletinLevel>
          <lossTolerant>false</lossTolerant>
          <scheduledState>RUNNING</scheduledState>
          <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
          <runDurationNanos>0</runDurationNanos>
          <property>
            <name>Input Directory</name>
            <value>/data/ingest-test</value>
          </property>
          <property>
            <name>Recurse Subdirectories</name>
            <value>true</value>
          </property>
          <property>
            <name>Input Directory Location</name>
            <value>Local</value>
          </property>
          <property>
            <name>File Filter</name>
            <value>[^\.].*\.(ntf|nitf|NTF|NITF|jp2|sid|tif|tiff|r0|idop|c0|tfrd)</value>
          </property>
          <property>
            <name>Path Filter</name>
          </property>
          <property>
            <name>Minimum File Age</name>
            <value>5 sec</value>
          </property>
          <property>
            <name>Maximum File Age</name>
          </property>
          <property>
            <name>Minimum File Size</name>
            <value>1 B</value>
          </property>
          <property>
            <name>Maximum File Size</name>
          </property>
          <property>
            <name>Ignore Hidden Files</name>
            <value>true</value>
          </property>
        </processor>
        <processor>
          <id>0158100e-8e4f-15a8-f8ad-541be549f544</id>
          <name>Make Output Dir</name>
          <position x="796.9836249463492" y="1527.0760540827546"/>
          <styles/>
          <comment/>
          <class>org.apache.nifi.processors.standard.ExecuteStreamCommand</class>
          <maxConcurrentTasks>1</maxConcurrentTasks>
          <schedulingPeriod>0 sec</schedulingPeriod>
          <penalizationPeriod>30 sec</penalizationPeriod>
          <yieldPeriod>1 sec</yieldPeriod>
          <bulletinLevel>WARN</bulletinLevel>
          <lossTolerant>false</lossTolerant>
          <scheduledState>RUNNING</scheduledState>
          <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
          <runDurationNanos>0</runDurationNanos>
          <property>
            <name>Command Arguments</name>
            <value>-p;${outputDir}</value>
          </property>
          <property>
            <name>Command Path</name>
            <value>mkdir</value>
          </property>
          <property>
            <name>Ignore STDIN</name>
            <value>true</value>
          </property>
          <property>
            <name>Working Directory</name>
          </property>
          <property>
            <name>Argument Delimiter</name>
            <value>;</value>
          </property>
          <property>
            <name>Output Destination Attribute</name>
            <value>mkdirout</value>
          </property>
          <property>
            <name>Max Attribute Length</name>
            <value>16384</value>
          </property>
        </processor>
        <processor>
          <id>01581012-8e4f-15a8-80e4-7dac8eb85529</id>
          <name>Global Params</name>
          <position x="853.0245834340353" y="486.5120632471993"/>
          <styles/>
          <comment/>
          <class>org.apache.nifi.processors.attributes.UpdateAttribute</class>
          <maxConcurrentTasks>1</maxConcurrentTasks>
          <schedulingPeriod>0 sec</schedulingPeriod>
          <penalizationPeriod>30 sec</penalizationPeriod>
          <yieldPeriod>1 sec</yieldPeriod>
          <bulletinLevel>WARN</bulletinLevel>
          <lossTolerant>false</lossTolerant>
          <scheduledState>RUNNING</scheduledState>
          <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
          <runDurationNanos>0</runDurationNanos>
          <property>
            <name>Delete Attributes Expression</name>
          </property>
          <property>
            <name>noDateDir</name>
            <value>undated</value>
          </property>
          <property>
            <name>targetDir</name>
            <value>/data/imagery-test</value>
          </property>
          <property>
            <name>thumbnailModulo</name>
            <value>128</value>
          </property>
          <property>
            <name>cacheDir</name>
            <value>/data/omar-cache-test</value>
          </property>
        </processor>
        <processor>
          <id>0158100b-8e4f-15a8-4219-0941c50a8818</id>
          <name>Copy to Archive</name>
          <position x="789.9999920244495" y="1730.4871415723942"/>
          <styles/>
          <comment/>
          <class>org.apache.nifi.processors.standard.ExecuteStreamCommand</class>
          <maxConcurrentTasks>1</maxConcurrentTasks>
          <schedulingPeriod>0 sec</schedulingPeriod>
          <penalizationPeriod>30 sec</penalizationPeriod>
          <yieldPeriod>1 sec</yieldPeriod>
          <bulletinLevel>WARN</bulletinLevel>
          <lossTolerant>false</lossTolerant>
          <scheduledState>RUNNING</scheduledState>
          <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
          <runDurationNanos>0</runDurationNanos>
          <property>
            <name>Command Arguments</name>
            <value>if=${absolute.path}${filename};of=${outputDir}/${filename};bs=1M</value>
          </property>
          <property>
            <name>Command Path</name>
            <value>dd</value>
          </property>
          <property>
            <name>Ignore STDIN</name>
            <value>true</value>
          </property>
          <property>
            <name>Working Directory</name>
          </property>
          <property>
            <name>Argument Delimiter</name>
            <value>;</value>
          </property>
          <property>
            <name>Output Destination Attribute</name>
            <value>ddout</value>
          </property>
          <property>
            <name>Max Attribute Length</name>
            <value>16384</value>
          </property>
        </processor>
        <processor>
          <id>0158100a-8e4f-15a8-8c77-a0d6c83b3351</id>
          <name>Write Metadata To Flow FIle</name>
          <position x="824.8713365334472" y="841.3906145756354"/>
          <styles/>
          <comment/>
          <class>org.apache.nifi.processors.standard.ReplaceText</class>
          <maxConcurrentTasks>1</maxConcurrentTasks>
          <schedulingPeriod>0 sec</schedulingPeriod>
          <penalizationPeriod>30 sec</penalizationPeriod>
          <yieldPeriod>1 sec</yieldPeriod>
          <bulletinLevel>WARN</bulletinLevel>
          <lossTolerant>false</lossTolerant>
          <scheduledState>RUNNING</scheduledState>
          <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
          <runDurationNanos>0</runDurationNanos>
          <property>
            <name>Regular Expression</name>
            <value>(?s:^.*$)</value>
          </property>
          <property>
            <name>Replacement Value</name>
            <value>${omarmetadata}</value>
          </property>
          <property>
            <name>Character Set</name>
            <value>UTF-8</value>
          </property>
          <property>
            <name>Maximum Buffer Size</name>
            <value>1 MB</value>
          </property>
          <property>
            <name>Replacement Strategy</name>
            <value>Always Replace</value>
          </property>
          <property>
            <name>Evaluation Mode</name>
            <value>Entire text</value>
          </property>
          <autoTerminatedRelationship>failure</autoTerminatedRelationship>
        </processor>
        <processor>
          <id>0158100c-8e4f-15a8-a21f-bda704084d31</id>
          <name>Get DateTime</name>
          <position x="816.672890454061" y="1030.8114279345746"/>
          <styles/>
          <comment/>
          <class>org.apache.nifi.processors.standard.EvaluateJsonPath</class>
          <maxConcurrentTasks>1</maxConcurrentTasks>
          <schedulingPeriod>0 sec</schedulingPeriod>
          <penalizationPeriod>30 sec</penalizationPeriod>
          <yieldPeriod>1 sec</yieldPeriod>
          <bulletinLevel>WARN</bulletinLevel>
          <lossTolerant>false</lossTolerant>
          <scheduledState>RUNNING</scheduledState>
          <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
          <runDurationNanos>0</runDurationNanos>
          <property>
            <name>Destination</name>
            <value>flowfile-attribute</value>
          </property>
          <property>
            <name>Return Type</name>
            <value>auto-detect</value>
          </property>
          <property>
            <name>Path Not Found Behavior</name>
            <value>ignore</value>
          </property>
          <property>
            <name>Null Value Representation</name>
            <value>empty string</value>
          </property>
          <property>
            <name>dateTime</name>
            <value>$[0].acquisitionDate</value>
          </property>
          <autoTerminatedRelationship>failure</autoTerminatedRelationship>
          <autoTerminatedRelationship>unmatched</autoTerminatedRelationship>
        </processor>
        <processor>
          <id>0158100d-8e4f-15a8-f546-99220d60f2dc</id>
          <name>LogAttribute</name>
          <position x="795.7261914255228" y="1959.2617840235703"/>
          <styles/>
          <comment/>
          <class>org.apache.nifi.processors.standard.LogAttribute</class>
          <maxConcurrentTasks>1</maxConcurrentTasks>
          <schedulingPeriod>0 sec</schedulingPeriod>
          <penalizationPeriod>30 sec</penalizationPeriod>
          <yieldPeriod>1 sec</yieldPeriod>
          <bulletinLevel>WARN</bulletinLevel>
          <lossTolerant>false</lossTolerant>
          <scheduledState>RUNNING</scheduledState>
          <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
          <runDurationNanos>0</runDurationNanos>
          <property>
            <name>Log Level</name>
            <value>info</value>
          </property>
          <property>
            <name>Log Payload</name>
            <value>true</value>
          </property>
          <property>
            <name>Attributes to Log</name>
          </property>
          <property>
            <name>Attributes to Ignore</name>
          </property>
          <property>
            <name>Log prefix</name>
          </property>
        </processor>
        <processor>
          <id>0158100f-8e4f-15a8-1b37-56b5c7ec0c60</id>
          <name>Generate output and fragment counts</name>
          <position x="803.327444335351" y="1254.309398664474"/>
          <styles/>
          <comment/>
          <class>org.apache.nifi.processors.script.ExecuteScript</class>
          <maxConcurrentTasks>1</maxConcurrentTasks>
          <schedulingPeriod>0 sec</schedulingPeriod>
          <penalizationPeriod>30 sec</penalizationPeriod>
          <yieldPeriod>1 sec</yieldPeriod>
          <bulletinLevel>WARN</bulletinLevel>
          <lossTolerant>false</lossTolerant>
          <scheduledState>RUNNING</scheduledState>
          <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
          <runDurationNanos>0</runDurationNanos>
          <property>
            <name>Script Engine</name>
            <value>Groovy</value>
          </property>
          <property>
            <name>Script File</name>
          </property>
          <property>
            <name>Script Body</name>
            <value>import groovy.json.JsonSlurper

def flowFile = session.get()
if(!flowFile) return
def dateTime = flowFile.getAttribute("dateTime") as String
def targetDir = flowFile.getAttribute("targetDir") as String
def noDateDir = flowFile.getAttribute("noDateDir") as String
def omarmetadata = flowFile.getAttribute("omarmetadata") as String
def entryCount = new JsonSlurper().parseText(omarmetadata).size()
def rowCount = ((entryCount)*2)+2
def outputDir = targetDir
if (!dateTime || dateTime.size() &lt; 10 ) outputDir += "/" + noDateDir
else outputDir += "/" + dateTime.substring(0,4) + "/" + dateTime.substring(5,7) + "/" + dateTime.substring(8,10)

flowFile = session.putAttribute(flowFile, 'outputDir', outputDir)
flowFile = session.putAttribute(flowFile, 'entryCount', entryCount as String)
flowFile = session.putAttribute(flowFile, 'rowCount', rowCount as String)
session.transfer(flowFile, REL_SUCCESS)</value>
          </property>
          <property>
            <name>Module Directory</name>
          </property>
          <autoTerminatedRelationship>failure</autoTerminatedRelationship>
        </processor>
        <processor>
          <id>01581011-8e4f-15a8-539e-e08c8ff48085</id>
          <name>Get Metadata</name>
          <position x="832.4057568552103" y="672.1930813258163"/>
          <styles/>
          <comment/>
          <class>org.apache.nifi.processors.standard.ExecuteStreamCommand</class>
          <maxConcurrentTasks>1</maxConcurrentTasks>
          <schedulingPeriod>0 sec</schedulingPeriod>
          <penalizationPeriod>30 sec</penalizationPeriod>
          <yieldPeriod>1 sec</yieldPeriod>
          <bulletinLevel>WARN</bulletinLevel>
          <lossTolerant>false</lossTolerant>
          <scheduledState>RUNNING</scheduledState>
          <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
          <runDurationNanos>0</runDurationNanos>
          <property>
            <name>Command Arguments</name>
            <value>${absolute.path}/${filename}</value>
          </property>
          <property>
            <name>Command Path</name>
            <value>image-info</value>
          </property>
          <property>
            <name>Ignore STDIN</name>
            <value>true</value>
          </property>
          <property>
            <name>Working Directory</name>
          </property>
          <property>
            <name>Argument Delimiter</name>
            <value>;</value>
          </property>
          <property>
            <name>Output Destination Attribute</name>
            <value>omarmetadata</value>
          </property>
          <property>
            <name>Max Attribute Length</name>
            <value>1000000</value>
          </property>
        </processor>
        <outputPort>
          <id>0158101b-8e4f-15a8-0baa-df65bec6bce8</id>
          <name>OUTPUT</name>
          <position x="911.9999920244495" y="2236.999973720836"/>
          <comments/>
          <scheduledState>RUNNING</scheduledState>
        </outputPort>
        <connection>
          <id>01581017-8e4f-15a8-9b45-6048a38912a6</id>
          <name/>
          <bendPoints/>
          <labelIndex>1</labelIndex>
          <zIndex>0</zIndex>
          <sourceId>0158100e-8e4f-15a8-f8ad-541be549f544</sourceId>
          <sourceGroupId>01581008-8e4f-15a8-a144-ade9e4175646</sourceGroupId>
          <sourceType>PROCESSOR</sourceType>
          <destinationId>0158100b-8e4f-15a8-4219-0941c50a8818</destinationId>
          <destinationGroupId>01581008-8e4f-15a8-a144-ade9e4175646</destinationGroupId>
          <destinationType>PROCESSOR</destinationType>
          <relationship>original</relationship>
          <maxWorkQueueSize>10000</maxWorkQueueSize>
          <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
          <flowFileExpiration>0 sec</flowFileExpiration>
        </connection>
        <connection>
          <id>01581016-8e4f-15a8-d7e4-7952548146fb</id>
          <name/>
          <bendPoints/>
          <labelIndex>1</labelIndex>
          <zIndex>0</zIndex>
          <sourceId>01581011-8e4f-15a8-539e-e08c8ff48085</sourceId>
          <sourceGroupId>01581008-8e4f-15a8-a144-ade9e4175646</sourceGroupId>
          <sourceType>PROCESSOR</sourceType>
          <destinationId>0158100a-8e4f-15a8-8c77-a0d6c83b3351</destinationId>
          <destinationGroupId>01581008-8e4f-15a8-a144-ade9e4175646</destinationGroupId>
          <destinationType>PROCESSOR</destinationType>
          <relationship>original</relationship>
          <maxWorkQueueSize>10000</maxWorkQueueSize>
          <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
          <flowFileExpiration>0 sec</flowFileExpiration>
        </connection>
        <connection>
          <id>01581015-8e4f-15a8-a5b7-6448a25d57ec</id>
          <name/>
          <bendPoints/>
          <labelIndex>1</labelIndex>
          <zIndex>0</zIndex>
          <sourceId>0158100a-8e4f-15a8-8c77-a0d6c83b3351</sourceId>
          <sourceGroupId>01581008-8e4f-15a8-a144-ade9e4175646</sourceGroupId>
          <sourceType>PROCESSOR</sourceType>
          <destinationId>0158100c-8e4f-15a8-a21f-bda704084d31</destinationId>
          <destinationGroupId>01581008-8e4f-15a8-a144-ade9e4175646</destinationGroupId>
          <destinationType>PROCESSOR</destinationType>
          <relationship>success</relationship>
          <maxWorkQueueSize>10000</maxWorkQueueSize>
          <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
          <flowFileExpiration>0 sec</flowFileExpiration>
        </connection>
        <connection>
          <id>01581018-8e4f-15a8-a366-140244c08a88</id>
          <name/>
          <bendPoints/>
          <labelIndex>1</labelIndex>
          <zIndex>0</zIndex>
          <sourceId>0158100c-8e4f-15a8-a21f-bda704084d31</sourceId>
          <sourceGroupId>01581008-8e4f-15a8-a144-ade9e4175646</sourceGroupId>
          <sourceType>PROCESSOR</sourceType>
          <destinationId>0158100f-8e4f-15a8-1b37-56b5c7ec0c60</destinationId>
          <destinationGroupId>01581008-8e4f-15a8-a144-ade9e4175646</destinationGroupId>
          <destinationType>PROCESSOR</destinationType>
          <relationship>matched</relationship>
          <maxWorkQueueSize>10000</maxWorkQueueSize>
          <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
          <flowFileExpiration>0 sec</flowFileExpiration>
        </connection>
        <connection>
          <id>0158101c-8e4f-15a8-951d-9db4fd9dc594</id>
          <name/>
          <bendPoints/>
          <labelIndex>1</labelIndex>
          <zIndex>0</zIndex>
          <sourceId>0158100d-8e4f-15a8-f546-99220d60f2dc</sourceId>
          <sourceGroupId>01581008-8e4f-15a8-a144-ade9e4175646</sourceGroupId>
          <sourceType>PROCESSOR</sourceType>
          <destinationId>0158101b-8e4f-15a8-0baa-df65bec6bce8</destinationId>
          <destinationGroupId>01581008-8e4f-15a8-a144-ade9e4175646</destinationGroupId>
          <destinationType>OUTPUT_PORT</destinationType>
          <relationship>success</relationship>
          <maxWorkQueueSize>10000</maxWorkQueueSize>
          <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
          <flowFileExpiration>0 sec</flowFileExpiration>
        </connection>
        <connection>
          <id>0158101a-8e4f-15a8-c10f-c4dc617b99ac</id>
          <name/>
          <bendPoints/>
          <labelIndex>1</labelIndex>
          <zIndex>0</zIndex>
          <sourceId>01581010-8e4f-15a8-32ad-7116f301d1ec</sourceId>
          <sourceGroupId>01581008-8e4f-15a8-a144-ade9e4175646</sourceGroupId>
          <sourceType>PROCESSOR</sourceType>
          <destinationId>01581012-8e4f-15a8-80e4-7dac8eb85529</destinationId>
          <destinationGroupId>01581008-8e4f-15a8-a144-ade9e4175646</destinationGroupId>
          <destinationType>PROCESSOR</destinationType>
          <relationship>success</relationship>
          <maxWorkQueueSize>10000</maxWorkQueueSize>
          <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
          <flowFileExpiration>0 sec</flowFileExpiration>
        </connection>
        <connection>
          <id>01581013-8e4f-15a8-45a9-94df32068c4f</id>
          <name/>
          <bendPoints/>
          <labelIndex>1</labelIndex>
          <zIndex>0</zIndex>
          <sourceId>01581012-8e4f-15a8-80e4-7dac8eb85529</sourceId>
          <sourceGroupId>01581008-8e4f-15a8-a144-ade9e4175646</sourceGroupId>
          <sourceType>PROCESSOR</sourceType>
          <destinationId>01581011-8e4f-15a8-539e-e08c8ff48085</destinationId>
          <destinationGroupId>01581008-8e4f-15a8-a144-ade9e4175646</destinationGroupId>
          <destinationType>PROCESSOR</destinationType>
          <relationship>success</relationship>
          <maxWorkQueueSize>10000</maxWorkQueueSize>
          <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
          <flowFileExpiration>0 sec</flowFileExpiration>
        </connection>
        <connection>
          <id>01581019-8e4f-15a8-ac8a-a0a7256ce5e3</id>
          <name/>
          <bendPoints/>
          <labelIndex>1</labelIndex>
          <zIndex>0</zIndex>
          <sourceId>0158100f-8e4f-15a8-1b37-56b5c7ec0c60</sourceId>
          <sourceGroupId>01581008-8e4f-15a8-a144-ade9e4175646</sourceGroupId>
          <sourceType>PROCESSOR</sourceType>
          <destinationId>0158100e-8e4f-15a8-f8ad-541be549f544</destinationId>
          <destinationGroupId>01581008-8e4f-15a8-a144-ade9e4175646</destinationGroupId>
          <destinationType>PROCESSOR</destinationType>
          <relationship>success</relationship>
          <maxWorkQueueSize>10000</maxWorkQueueSize>
          <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
          <flowFileExpiration>0 sec</flowFileExpiration>
        </connection>
        <connection>
          <id>01581014-8e4f-15a8-3dc5-eb30acb91c7b</id>
          <name/>
          <bendPoints/>
          <labelIndex>1</labelIndex>
          <zIndex>0</zIndex>
          <sourceId>0158100b-8e4f-15a8-4219-0941c50a8818</sourceId>
          <sourceGroupId>01581008-8e4f-15a8-a144-ade9e4175646</sourceGroupId>
          <sourceType>PROCESSOR</sourceType>
          <destinationId>0158100d-8e4f-15a8-f546-99220d60f2dc</destinationId>
          <destinationGroupId>01581008-8e4f-15a8-a144-ade9e4175646</destinationGroupId>
          <destinationType>PROCESSOR</destinationType>
          <relationship>original</relationship>
          <maxWorkQueueSize>10000</maxWorkQueueSize>
          <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
          <flowFileExpiration>0 sec</flowFileExpiration>
        </connection>
      </processGroup>
      <processGroup>
        <id>10001162-1426-1e49-ef9c-47c2c773ea09</id>
        <name>Raster Entry Statement</name>
        <position x="311.92855313233395" y="2351.0865557402776"/>
        <comment/>
        <processor>
          <id>10001166-1426-1e49-dc7c-bcaf82a972b3</id>
          <name>Get Fields for Hash</name>
          <position x="630.7397615741668" y="178.0001440587548"/>
          <styles/>
          <comment/>
          <class>org.apache.nifi.processors.standard.ReplaceText</class>
          <maxConcurrentTasks>1</maxConcurrentTasks>
          <schedulingPeriod>0 sec</schedulingPeriod>
          <penalizationPeriod>30 sec</penalizationPeriod>
          <yieldPeriod>1 sec</yieldPeriod>
          <bulletinLevel>WARN</bulletinLevel>
          <lossTolerant>false</lossTolerant>
          <scheduledState>RUNNING</scheduledState>
          <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
          <runDurationNanos>0</runDurationNanos>
          <property>
            <name>Regular Expression</name>
            <value>(?s:^.*$)</value>
          </property>
          <property>
            <name>Replacement Value</name>
            <value>${filename}:${entryId}</value>
          </property>
          <property>
            <name>Character Set</name>
            <value>UTF-8</value>
          </property>
          <property>
            <name>Maximum Buffer Size</name>
            <value>1 MB</value>
          </property>
          <property>
            <name>Replacement Strategy</name>
            <value>Always Replace</value>
          </property>
          <property>
            <name>Evaluation Mode</name>
            <value>Entire text</value>
          </property>
          <autoTerminatedRelationship>failure</autoTerminatedRelationship>
        </processor>
        <processor>
          <id>01591000-cc62-18b6-b1a6-13a4b84e0c70</id>
          <name>Precompute Number of RSETs</name>
          <position x="566.0000026705698" y="817.9877500962939"/>
          <styles/>
          <comment/>
          <class>org.apache.nifi.processors.script.ExecuteScript</class>
          <maxConcurrentTasks>1</maxConcurrentTasks>
          <schedulingPeriod>0 sec</schedulingPeriod>
          <penalizationPeriod>30 sec</penalizationPeriod>
          <yieldPeriod>1 sec</yieldPeriod>
          <bulletinLevel>WARN</bulletinLevel>
          <lossTolerant>false</lossTolerant>
          <scheduledState>RUNNING</scheduledState>
          <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
          <runDurationNanos>0</runDurationNanos>
          <property>
            <name>Script Engine</name>
            <value>Groovy</value>
          </property>
          <property>
            <name>Script File</name>
          </property>
          <property>
            <name>Script Body</name>
            <value>def flowFile = session.get()
if(!flowFile) return
def width = flowFile.getAttribute("width") as Integer
def height = flowFile.getAttribute("height") as Integer
def max = Math.max(width, height)
def rset = 0
while (max &gt; 256)
{
   max /= 2
   rset++
}
flowFile = session.putAttribute(flowFile, 'number_of_res_levels', (rset as String))
session.transfer(flowFile, REL_SUCCESS)</value>
          </property>
          <property>
            <name>Module Directory</name>
          </property>
          <autoTerminatedRelationship>failure</autoTerminatedRelationship>
        </processor>
        <processor>
          <id>10001167-1426-1e49-5fd4-a52af102ffd7</id>
          <name>LogAttribute</name>
          <position x="613.0912839856858" y="1277.9574897363455"/>
          <styles/>
          <comment/>
          <class>org.apache.nifi.processors.standard.LogAttribute</class>
          <maxConcurrentTasks>1</maxConcurrentTasks>
          <schedulingPeriod>0 sec</schedulingPeriod>
          <penalizationPeriod>30 sec</penalizationPeriod>
          <yieldPeriod>1 sec</yieldPeriod>
          <bulletinLevel>WARN</bulletinLevel>
          <lossTolerant>false</lossTolerant>
          <scheduledState>RUNNING</scheduledState>
          <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
          <runDurationNanos>0</runDurationNanos>
          <property>
            <name>Log Level</name>
            <value>info</value>
          </property>
          <property>
            <name>Log Payload</name>
            <value>true</value>
          </property>
          <property>
            <name>Attributes to Log</name>
          </property>
          <property>
            <name>Attributes to Ignore</name>
          </property>
          <property>
            <name>Log prefix</name>
          </property>
        </processor>
        <processor>
          <id>10001165-1426-1e49-0b0d-2340189321bd</id>
          <name>HashContent</name>
          <position x="648.7616578922832" y="484.8709408658824"/>
          <styles/>
          <comment/>
          <class>org.apache.nifi.processors.standard.HashContent</class>
          <maxConcurrentTasks>1</maxConcurrentTasks>
          <schedulingPeriod>0 sec</schedulingPeriod>
          <penalizationPeriod>30 sec</penalizationPeriod>
          <yieldPeriod>1 sec</yieldPeriod>
          <bulletinLevel>WARN</bulletinLevel>
          <lossTolerant>false</lossTolerant>
          <scheduledState>RUNNING</scheduledState>
          <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
          <runDurationNanos>0</runDurationNanos>
          <property>
            <name>Hash Attribute Name</name>
            <value>indexId</value>
          </property>
          <property>
            <name>Hash Algorithm</name>
            <value>SHA-1</value>
          </property>
          <autoTerminatedRelationship>failure</autoTerminatedRelationship>
        </processor>
        <processor>
          <id>10001164-1426-1e49-df34-f3d0675ba02b</id>
          <name>RasterEntry Insert Statement</name>
          <position x="596.0637594274922" y="1066.8558326171878"/>
          <styles/>
          <comment/>
          <class>org.apache.nifi.processors.standard.ReplaceText</class>
          <maxConcurrentTasks>1</maxConcurrentTasks>
          <schedulingPeriod>0 sec</schedulingPeriod>
          <penalizationPeriod>30 sec</penalizationPeriod>
          <yieldPeriod>1 sec</yieldPeriod>
          <bulletinLevel>WARN</bulletinLevel>
          <lossTolerant>false</lossTolerant>
          <scheduledState>RUNNING</scheduledState>
          <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
          <runDurationNanos>0</runDurationNanos>
          <property>
            <name>Regular Expression</name>
            <value>(?s:^.*$)</value>
          </property>
          <property>
            <name>Replacement Value</name>
            <value>INSERT into raster_entry (id, version, raster_data_set_id, entry_id, index_id, width, height, number_of_bands, number_of_res_levels, bit_depth, data_type, gsdx, gsdy, gsd_unit, ground_geom, tie_point_set, filename, image_id, image_representation, product_id, be_number, mission_id, country_code, image_category, azimuth_angle, security_classification, title, organization, description, niirs, sun_elevation, sun_azimuth, cloud_cover, security_code, grazing_angle, class_name, acquisition_date, ingest_date, receive_date, sensor_azimuth, up_angle) values (${raster_entry_id}, 0, ${raster_data_set_id}, '${entryId}', '${indexId}', ${width}, ${height}, ${number_of_bands:replaceEmpty(1)}, ${number_of_res_levels:replaceEmpty(1)}, ${bitDepth}, '${dataType}', ${gsdx}, ${gsdy}, 'meters', ST_GeomFromText('${groundGeom}', 4326), '${tiePoints}', '${outputDir}/${filename}', '${imageId}', '${imageRepresentation}', '${productId}', '${beNumber}', '${missionId}', '${countryCode}', '${imageCategory}', ${azimuthAngle:replaceEmpty("null")}, '${securityClassification}', '${title}', '${organization}', '${description}', ${niirs:replaceEmpty("null")}, ${sun_elevation:replaceEmpty("null")}, ${sun_azimuth:replaceEmpty("null")}, ${cloud_cover:replaceEmpty("null")}, '${isctlh}', ${grazingAngle:replaceEmpty("null")}, '${className}', ${acquisitionDate:replaceEmpty("placeholder"):prepend("'"):append("'"):replace("'placeholder'", "null")}, current_timestamp, '${receiveDate}', ${sensorAzimuth:replaceEmpty("null")}, ${upAngle:replaceEmpty("null")});</value>
          </property>
          <property>
            <name>Character Set</name>
            <value>UTF-8</value>
          </property>
          <property>
            <name>Maximum Buffer Size</name>
            <value>1 MB</value>
          </property>
          <property>
            <name>Replacement Strategy</name>
            <value>Regex Replace</value>
          </property>
          <property>
            <name>Evaluation Mode</name>
            <value>Entire text</value>
          </property>
          <autoTerminatedRelationship>failure</autoTerminatedRelationship>
        </processor>
        <inputPort>
          <id>01591001-f936-18c6-7138-744c418902ad</id>
          <name>INPUT</name>
          <position x="669.0000026705698" y="33.00014405875481"/>
          <comments/>
          <scheduledState>RUNNING</scheduledState>
        </inputPort>
        <outputPort>
          <id>01591003-f936-18c6-6fd7-69893976635a</id>
          <name>OUTPUT</name>
          <position x="674.0000026705698" y="1532.0001440587548"/>
          <comments/>
          <scheduledState>RUNNING</scheduledState>
        </outputPort>
        <connection>
          <id>01591003-cc62-18b6-fda3-35e30d86c210</id>
          <name/>
          <bendPoints/>
          <labelIndex>1</labelIndex>
          <zIndex>0</zIndex>
          <sourceId>10001164-1426-1e49-df34-f3d0675ba02b</sourceId>
          <sourceGroupId>10001162-1426-1e49-ef9c-47c2c773ea09</sourceGroupId>
          <sourceType>PROCESSOR</sourceType>
          <destinationId>10001167-1426-1e49-5fd4-a52af102ffd7</destinationId>
          <destinationGroupId>10001162-1426-1e49-ef9c-47c2c773ea09</destinationGroupId>
          <destinationType>PROCESSOR</destinationType>
          <relationship>success</relationship>
          <maxWorkQueueSize>10000</maxWorkQueueSize>
          <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
          <flowFileExpiration>0 sec</flowFileExpiration>
        </connection>
        <connection>
          <id>01591000-f936-18c6-8cb3-e0213f7bf1c8</id>
          <name/>
          <bendPoints/>
          <labelIndex>1</labelIndex>
          <zIndex>0</zIndex>
          <sourceId>01591000-cc62-18b6-b1a6-13a4b84e0c70</sourceId>
          <sourceGroupId>10001162-1426-1e49-ef9c-47c2c773ea09</sourceGroupId>
          <sourceType>PROCESSOR</sourceType>
          <destinationId>10001164-1426-1e49-df34-f3d0675ba02b</destinationId>
          <destinationGroupId>10001162-1426-1e49-ef9c-47c2c773ea09</destinationGroupId>
          <destinationType>PROCESSOR</destinationType>
          <relationship>success</relationship>
          <maxWorkQueueSize>10000</maxWorkQueueSize>
          <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
          <flowFileExpiration>0 sec</flowFileExpiration>
        </connection>
        <connection>
          <id>01591004-f936-18c6-03cf-058c4d112480</id>
          <name/>
          <bendPoints/>
          <labelIndex>1</labelIndex>
          <zIndex>0</zIndex>
          <sourceId>10001167-1426-1e49-5fd4-a52af102ffd7</sourceId>
          <sourceGroupId>10001162-1426-1e49-ef9c-47c2c773ea09</sourceGroupId>
          <sourceType>PROCESSOR</sourceType>
          <destinationId>01591003-f936-18c6-6fd7-69893976635a</destinationId>
          <destinationGroupId>10001162-1426-1e49-ef9c-47c2c773ea09</destinationGroupId>
          <destinationType>OUTPUT_PORT</destinationType>
          <relationship>success</relationship>
          <maxWorkQueueSize>10000</maxWorkQueueSize>
          <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
          <flowFileExpiration>0 sec</flowFileExpiration>
        </connection>
        <connection>
          <id>01591002-cc62-18b6-5238-d70cd32f6795</id>
          <name/>
          <bendPoints/>
          <labelIndex>1</labelIndex>
          <zIndex>0</zIndex>
          <sourceId>10001166-1426-1e49-dc7c-bcaf82a972b3</sourceId>
          <sourceGroupId>10001162-1426-1e49-ef9c-47c2c773ea09</sourceGroupId>
          <sourceType>PROCESSOR</sourceType>
          <destinationId>10001165-1426-1e49-0b0d-2340189321bd</destinationId>
          <destinationGroupId>10001162-1426-1e49-ef9c-47c2c773ea09</destinationGroupId>
          <destinationType>PROCESSOR</destinationType>
          <relationship>success</relationship>
          <maxWorkQueueSize>10000</maxWorkQueueSize>
          <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
          <flowFileExpiration>0 sec</flowFileExpiration>
        </connection>
        <connection>
          <id>01591001-cc62-18b6-11b2-4069de4e7b4a</id>
          <name/>
          <bendPoints/>
          <labelIndex>1</labelIndex>
          <zIndex>0</zIndex>
          <sourceId>10001165-1426-1e49-0b0d-2340189321bd</sourceId>
          <sourceGroupId>10001162-1426-1e49-ef9c-47c2c773ea09</sourceGroupId>
          <sourceType>PROCESSOR</sourceType>
          <destinationId>01591000-cc62-18b6-b1a6-13a4b84e0c70</destinationId>
          <destinationGroupId>10001162-1426-1e49-ef9c-47c2c773ea09</destinationGroupId>
          <destinationType>PROCESSOR</destinationType>
          <relationship>success</relationship>
          <maxWorkQueueSize>10000</maxWorkQueueSize>
          <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
          <flowFileExpiration>0 sec</flowFileExpiration>
        </connection>
        <connection>
          <id>01591002-f936-18c6-e0f9-c9e1a9b32126</id>
          <name/>
          <bendPoints/>
          <labelIndex>1</labelIndex>
          <zIndex>0</zIndex>
          <sourceId>01591001-f936-18c6-7138-744c418902ad</sourceId>
          <sourceGroupId>10001162-1426-1e49-ef9c-47c2c773ea09</sourceGroupId>
          <sourceType>INPUT_PORT</sourceType>
          <destinationId>10001166-1426-1e49-dc7c-bcaf82a972b3</destinationId>
          <destinationGroupId>10001162-1426-1e49-ef9c-47c2c773ea09</destinationGroupId>
          <destinationType>PROCESSOR</destinationType>
          <relationship/>
          <maxWorkQueueSize>10000</maxWorkQueueSize>
          <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
          <flowFileExpiration>0 sec</flowFileExpiration>
        </connection>
      </processGroup>
      <processGroup>
        <id>f1ce03ca-0159-1000-800a-e56d9c84369e</id>
        <name>Thumbnail Insert Statement</name>
        <position x="311.92835254239935" y="2637.1445434365733"/>
        <comment/>
        <processor>
          <id>d53f17bf-1000-1158-cd37-1e90da4fa268</id>
          <name>LogAttribute</name>
          <position x="881.0851634715464" y="292.3941338057575"/>
          <styles/>
          <comment/>
          <class>org.apache.nifi.processors.standard.LogAttribute</class>
          <maxConcurrentTasks>1</maxConcurrentTasks>
          <schedulingPeriod>0 sec</schedulingPeriod>
          <penalizationPeriod>30 sec</penalizationPeriod>
          <yieldPeriod>1 sec</yieldPeriod>
          <bulletinLevel>WARN</bulletinLevel>
          <lossTolerant>false</lossTolerant>
          <scheduledState>RUNNING</scheduledState>
          <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
          <runDurationNanos>0</runDurationNanos>
          <property>
            <name>Log Level</name>
            <value>info</value>
          </property>
          <property>
            <name>Log Payload</name>
            <value>true</value>
          </property>
          <property>
            <name>Attributes to Log</name>
          </property>
          <property>
            <name>Attributes to Ignore</name>
          </property>
          <property>
            <name>Log prefix</name>
          </property>
        </processor>
        <processor>
          <id>10001158-1426-1e49-f3c7-f8d76d75828d</id>
          <name>Thumbnail RasterEntryFile Insert Statement</name>
          <position x="366.8783681013547" y="260.41882516378337"/>
          <styles/>
          <comment/>
          <class>org.apache.nifi.processors.standard.ReplaceText</class>
          <maxConcurrentTasks>1</maxConcurrentTasks>
          <schedulingPeriod>0 sec</schedulingPeriod>
          <penalizationPeriod>30 sec</penalizationPeriod>
          <yieldPeriod>1 sec</yieldPeriod>
          <bulletinLevel>WARN</bulletinLevel>
          <lossTolerant>false</lossTolerant>
          <scheduledState>RUNNING</scheduledState>
          <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
          <runDurationNanos>0</runDurationNanos>
          <property>
            <name>Regular Expression</name>
            <value>(?s:^.*$)</value>
          </property>
          <property>
            <name>Replacement Value</name>
            <value>INSERT into raster_entry_file (id, version, name, raster_entry_id, type) values (${raster_entry_file_id}, 0, '${thumbnailFile}', ${raster_entry_id}, 'thumbnail')</value>
          </property>
          <property>
            <name>Character Set</name>
            <value>UTF-8</value>
          </property>
          <property>
            <name>Maximum Buffer Size</name>
            <value>1 MB</value>
          </property>
          <property>
            <name>Replacement Strategy</name>
            <value>Regex Replace</value>
          </property>
          <property>
            <name>Evaluation Mode</name>
            <value>Entire text</value>
          </property>
          <autoTerminatedRelationship>failure</autoTerminatedRelationship>
        </processor>
        <processor>
          <id>d54117bf-1013-1158-6d4d-ed5404609774</id>
          <name>UpdateAttribute</name>
          <position x="315.00001331668864" y="66.99980338291607"/>
          <styles/>
          <comment/>
          <class>org.apache.nifi.processors.attributes.UpdateAttribute</class>
          <maxConcurrentTasks>1</maxConcurrentTasks>
          <schedulingPeriod>0 sec</schedulingPeriod>
          <penalizationPeriod>30 sec</penalizationPeriod>
          <yieldPeriod>1 sec</yieldPeriod>
          <bulletinLevel>WARN</bulletinLevel>
          <lossTolerant>false</lossTolerant>
          <scheduledState>RUNNING</scheduledState>
          <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
          <runDurationNanos>0</runDurationNanos>
          <property>
            <name>Delete Attributes Expression</name>
          </property>
          <property>
            <name>fragment.index</name>
            <value>${fragment.index:plus(${entryCount})}</value>
          </property>
        </processor>
        <inputPort>
          <id>1000115b-1426-1e49-a647-9729efe598d4</id>
          <name>INPUT</name>
          <position x="365.0000133166886" y="-26.00019661708393"/>
          <comments/>
          <scheduledState>RUNNING</scheduledState>
        </inputPort>
        <outputPort>
          <id>1000115d-1426-1e49-b409-7d07e2abed04</id>
          <name>OUTPUT</name>
          <position x="668.0000133166886" y="477.99980338291607"/>
          <comments/>
          <scheduledState>RUNNING</scheduledState>
        </outputPort>
        <connection>
          <id>1000115a-1426-1e49-9d34-fb712ba8b36d</id>
          <name/>
          <bendPoints/>
          <labelIndex>1</labelIndex>
          <zIndex>0</zIndex>
          <sourceId>10001158-1426-1e49-f3c7-f8d76d75828d</sourceId>
          <sourceGroupId>f1ce03ca-0159-1000-800a-e56d9c84369e</sourceGroupId>
          <sourceType>PROCESSOR</sourceType>
          <destinationId>d53f17bf-1000-1158-cd37-1e90da4fa268</destinationId>
          <destinationGroupId>f1ce03ca-0159-1000-800a-e56d9c84369e</destinationGroupId>
          <destinationType>PROCESSOR</destinationType>
          <relationship>success</relationship>
          <maxWorkQueueSize>10000</maxWorkQueueSize>
          <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
          <flowFileExpiration>0 sec</flowFileExpiration>
        </connection>
        <connection>
          <id>10001159-1426-1e49-1d7a-96663182f929</id>
          <name/>
          <bendPoints/>
          <labelIndex>1</labelIndex>
          <zIndex>0</zIndex>
          <sourceId>d54117bf-1013-1158-6d4d-ed5404609774</sourceId>
          <sourceGroupId>f1ce03ca-0159-1000-800a-e56d9c84369e</sourceGroupId>
          <sourceType>PROCESSOR</sourceType>
          <destinationId>10001158-1426-1e49-f3c7-f8d76d75828d</destinationId>
          <destinationGroupId>f1ce03ca-0159-1000-800a-e56d9c84369e</destinationGroupId>
          <destinationType>PROCESSOR</destinationType>
          <relationship>success</relationship>
          <maxWorkQueueSize>10000</maxWorkQueueSize>
          <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
          <flowFileExpiration>0 sec</flowFileExpiration>
        </connection>
        <connection>
          <id>1000115e-1426-1e49-6441-b303f251a0eb</id>
          <name/>
          <bendPoints/>
          <labelIndex>1</labelIndex>
          <zIndex>0</zIndex>
          <sourceId>d53f17bf-1000-1158-cd37-1e90da4fa268</sourceId>
          <sourceGroupId>f1ce03ca-0159-1000-800a-e56d9c84369e</sourceGroupId>
          <sourceType>PROCESSOR</sourceType>
          <destinationId>1000115d-1426-1e49-b409-7d07e2abed04</destinationId>
          <destinationGroupId>f1ce03ca-0159-1000-800a-e56d9c84369e</destinationGroupId>
          <destinationType>OUTPUT_PORT</destinationType>
          <relationship>success</relationship>
          <maxWorkQueueSize>10000</maxWorkQueueSize>
          <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
          <flowFileExpiration>0 sec</flowFileExpiration>
        </connection>
        <connection>
          <id>1000115c-1426-1e49-d58f-c83132cadccb</id>
          <name/>
          <bendPoints/>
          <labelIndex>1</labelIndex>
          <zIndex>0</zIndex>
          <sourceId>1000115b-1426-1e49-a647-9729efe598d4</sourceId>
          <sourceGroupId>f1ce03ca-0159-1000-800a-e56d9c84369e</sourceGroupId>
          <sourceType>INPUT_PORT</sourceType>
          <destinationId>d54117bf-1013-1158-6d4d-ed5404609774</destinationId>
          <destinationGroupId>f1ce03ca-0159-1000-800a-e56d9c84369e</destinationGroupId>
          <destinationType>PROCESSOR</destinationType>
          <relationship/>
          <maxWorkQueueSize>10000</maxWorkQueueSize>
          <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
          <flowFileExpiration>0 sec</flowFileExpiration>
        </connection>
      </processGroup>
      <processGroup>
        <id>01591007-f936-18c6-3a35-7773c3209aa8</id>
        <name>Create Auxiliary Data</name>
        <position x="306.34667089797995" y="2087.353909706898"/>
        <comment/>
        <processor>
          <id>0159100d-f936-18c6-fecb-c9c2361ef5dd</id>
          <name>EvaluateJsonPath</name>
          <position x="571.100481336314" y="1186.889716046564"/>
          <styles/>
          <comment/>
          <class>org.apache.nifi.processors.standard.EvaluateJsonPath</class>
          <maxConcurrentTasks>1</maxConcurrentTasks>
          <schedulingPeriod>0 sec</schedulingPeriod>
          <penalizationPeriod>30 sec</penalizationPeriod>
          <yieldPeriod>1 sec</yieldPeriod>
          <bulletinLevel>WARN</bulletinLevel>
          <lossTolerant>false</lossTolerant>
          <scheduledState>RUNNING</scheduledState>
          <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
          <runDurationNanos>0</runDurationNanos>
          <property>
            <name>Destination</name>
            <value>flowfile-attribute</value>
          </property>
          <property>
            <name>Return Type</name>
            <value>auto-detect</value>
          </property>
          <property>
            <name>Path Not Found Behavior</name>
            <value>ignore</value>
          </property>
          <property>
            <name>Null Value Representation</name>
            <value>empty string</value>
          </property>
          <property>
            <name>raster_entry_id</name>
            <value>raster_entry_id</value>
          </property>
          <property>
            <name>raster_entry_file_id</name>
            <value>raster_entry_file_id</value>
          </property>
          <autoTerminatedRelationship>failure</autoTerminatedRelationship>
          <autoTerminatedRelationship>unmatched</autoTerminatedRelationship>
        </processor>
        <processor>
          <id>0159100b-f936-18c6-6c3e-69ff4015657c</id>
          <name>Create Thumbnail</name>
          <position x="550.1425153543735" y="1587.4568952923"/>
          <styles/>
          <comment/>
          <class>org.apache.nifi.processors.standard.ExecuteStreamCommand</class>
          <maxConcurrentTasks>1</maxConcurrentTasks>
          <schedulingPeriod>0 sec</schedulingPeriod>
          <penalizationPeriod>30 sec</penalizationPeriod>
          <yieldPeriod>1 sec</yieldPeriod>
          <bulletinLevel>WARN</bulletinLevel>
          <lossTolerant>false</lossTolerant>
          <scheduledState>RUNNING</scheduledState>
          <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
          <runDurationNanos>0</runDurationNanos>
          <property>
            <name>Command Arguments</name>
            <value>${outputDir}/${filename};${thumbnailFile};128;${entryId}</value>
          </property>
          <property>
            <name>Command Path</name>
            <value>image-thumbnail</value>
          </property>
          <property>
            <name>Ignore STDIN</name>
            <value>true</value>
          </property>
          <property>
            <name>Working Directory</name>
          </property>
          <property>
            <name>Argument Delimiter</name>
            <value>;</value>
          </property>
          <property>
            <name>Output Destination Attribute</name>
          </property>
          <property>
            <name>Max Attribute Length</name>
            <value>16384</value>
          </property>
          <autoTerminatedRelationship>original</autoTerminatedRelationship>
        </processor>
        <processor>
          <id>01591010-f936-18c6-9402-703b6f9d0fdb</id>
          <name>ExecuteSQL</name>
          <position x="552.2009743356994" y="733.8536053221269"/>
          <styles/>
          <comment/>
          <class>org.apache.nifi.processors.standard.ExecuteSQL</class>
          <maxConcurrentTasks>1</maxConcurrentTasks>
          <schedulingPeriod>0 sec</schedulingPeriod>
          <penalizationPeriod>30 sec</penalizationPeriod>
          <yieldPeriod>1 sec</yieldPeriod>
          <bulletinLevel>WARN</bulletinLevel>
          <lossTolerant>false</lossTolerant>
          <scheduledState>RUNNING</scheduledState>
          <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
          <runDurationNanos>0</runDurationNanos>
          <property>
            <name>Database Connection Pooling Service</name>
            <value>040bfcbe-0158-1000-af4f-397ec6553565</value>
          </property>
          <property>
            <name>SQL select query</name>
            <value>select nextval('raster_entry_id_seq') as raster_entry_id, nextval('raster_entry_file_id_seq') as raster_entry_file_id</value>
          </property>
          <property>
            <name>Max Wait Time</name>
            <value>0 seconds</value>
          </property>
          <autoTerminatedRelationship>failure</autoTerminatedRelationship>
        </processor>
        <processor>
          <id>01591009-f936-18c6-aaa3-5bfba1a86298</id>
          <name>LogAttribute</name>
          <position x="538.5654675165054" y="1819.5817772012251"/>
          <styles/>
          <comment/>
          <class>org.apache.nifi.processors.standard.LogAttribute</class>
          <maxConcurrentTasks>1</maxConcurrentTasks>
          <schedulingPeriod>0 sec</schedulingPeriod>
          <penalizationPeriod>30 sec</penalizationPeriod>
          <yieldPeriod>1 sec</yieldPeriod>
          <bulletinLevel>WARN</bulletinLevel>
          <lossTolerant>false</lossTolerant>
          <scheduledState>RUNNING</scheduledState>
          <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
          <runDurationNanos>0</runDurationNanos>
          <property>
            <name>Log Level</name>
            <value>info</value>
          </property>
          <property>
            <name>Log Payload</name>
            <value>false</value>
          </property>
          <property>
            <name>Attributes to Log</name>
          </property>
          <property>
            <name>Attributes to Ignore</name>
          </property>
          <property>
            <name>Log prefix</name>
          </property>
        </processor>
        <processor>
          <id>0159100a-f936-18c6-335f-cdc77fbbea67</id>
          <name>Get Thumbnail Filepath</name>
          <position x="564.9111292443934" y="1383.729240764419"/>
          <styles/>
          <comment/>
          <class>org.apache.nifi.processors.attributes.UpdateAttribute</class>
          <maxConcurrentTasks>1</maxConcurrentTasks>
          <schedulingPeriod>0 sec</schedulingPeriod>
          <penalizationPeriod>30 sec</penalizationPeriod>
          <yieldPeriod>1 sec</yieldPeriod>
          <bulletinLevel>WARN</bulletinLevel>
          <lossTolerant>false</lossTolerant>
          <scheduledState>RUNNING</scheduledState>
          <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
          <runDurationNanos>0</runDurationNanos>
          <property>
            <name>Delete Attributes Expression</name>
          </property>
          <property>
            <name>fragment.count</name>
            <value>${rowCount}</value>
          </property>
          <property>
            <name>fragment.identifier</name>
            <value>${raster_data_set_id}</value>
          </property>
          <property>
            <name>receiveDate</name>
            <value>${file.lastModifiedTime:substring(0,19)}</value>
          </property>
          <property>
            <name>fragment.index</name>
            <value>${fragment.index:plus(2)}</value>
          </property>
          <property>
            <name>thumbnailFile</name>
            <value>${cacheDir}/${raster_entry_id:mod(${thumbnailModulo})}/${raster_entry_id}-128-imagespace.jpg</value>
          </property>
        </processor>
        <processor>
          <id>0159100e-f936-18c6-4a37-274c6e64486f</id>
          <name>create overviews</name>
          <position x="538.1459350676334" y="137.0001440587548"/>
          <styles/>
          <comment/>
          <class>org.apache.nifi.processors.standard.ExecuteStreamCommand</class>
          <maxConcurrentTasks>1</maxConcurrentTasks>
          <schedulingPeriod>0 sec</schedulingPeriod>
          <penalizationPeriod>30 sec</penalizationPeriod>
          <yieldPeriod>1 sec</yieldPeriod>
          <bulletinLevel>WARN</bulletinLevel>
          <lossTolerant>false</lossTolerant>
          <scheduledState>RUNNING</scheduledState>
          <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
          <runDurationNanos>0</runDurationNanos>
          <property>
            <name>Command Arguments</name>
            <value>-np;8;ossim-img2rr;-e;${entryId};-t;ossim_kakadu_nitf_j2k;${outputDir}/${filename}</value>
          </property>
          <property>
            <name>Command Path</name>
            <value>mpirun</value>
          </property>
          <property>
            <name>Ignore STDIN</name>
            <value>true</value>
          </property>
          <property>
            <name>Working Directory</name>
          </property>
          <property>
            <name>Argument Delimiter</name>
            <value>;</value>
          </property>
          <property>
            <name>Output Destination Attribute</name>
            <value>overviewout</value>
          </property>
          <property>
            <name>Max Attribute Length</name>
            <value>16384</value>
          </property>
        </processor>
        <processor>
          <id>0159100c-f936-18c6-b014-280afda998ec</id>
          <name>ConvertAvroToJSON</name>
          <position x="565.9862262388335" y="943.3813685339765"/>
          <styles/>
          <comment/>
          <class>org.apache.nifi.processors.avro.ConvertAvroToJSON</class>
          <maxConcurrentTasks>1</maxConcurrentTasks>
          <schedulingPeriod>0 sec</schedulingPeriod>
          <penalizationPeriod>30 sec</penalizationPeriod>
          <yieldPeriod>1 sec</yieldPeriod>
          <bulletinLevel>WARN</bulletinLevel>
          <lossTolerant>false</lossTolerant>
          <scheduledState>RUNNING</scheduledState>
          <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
          <runDurationNanos>0</runDurationNanos>
          <property>
            <name>JSON container options</name>
            <value>array</value>
          </property>
          <property>
            <name>Wrap Single Record</name>
            <value>false</value>
          </property>
          <property>
            <name>Avro schema</name>
          </property>
          <autoTerminatedRelationship>failure</autoTerminatedRelationship>
        </processor>
        <processor>
          <id>0159100f-f936-18c6-d4b3-29069cdd7ded</id>
          <name>Create Histogram</name>
          <position x="538.0000000090397" y="402.8293371739892"/>
          <styles/>
          <comment/>
          <class>org.apache.nifi.processors.standard.ExecuteStreamCommand</class>
          <maxConcurrentTasks>1</maxConcurrentTasks>
          <schedulingPeriod>0 sec</schedulingPeriod>
          <penalizationPeriod>30 sec</penalizationPeriod>
          <yieldPeriod>1 sec</yieldPeriod>
          <bulletinLevel>WARN</bulletinLevel>
          <lossTolerant>false</lossTolerant>
          <scheduledState>RUNNING</scheduledState>
          <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
          <runDurationNanos>0</runDurationNanos>
          <property>
            <name>Command Arguments</name>
            <value>--entry;${entryId};--create-histogram-fast;${outputDir}/${filename}</value>
          </property>
          <property>
            <name>Command Path</name>
            <value>ossim-create-histo</value>
          </property>
          <property>
            <name>Ignore STDIN</name>
            <value>true</value>
          </property>
          <property>
            <name>Working Directory</name>
          </property>
          <property>
            <name>Argument Delimiter</name>
            <value>;</value>
          </property>
          <property>
            <name>Output Destination Attribute</name>
            <value>histoout</value>
          </property>
          <property>
            <name>Max Attribute Length</name>
            <value>16384</value>
          </property>
        </processor>
        <inputPort>
          <id>01591018-f936-18c6-382c-fac872962824</id>
          <name>INPUT</name>
          <position x="660.0000000090397" y="59.00014405875481"/>
          <comments/>
          <scheduledState>RUNNING</scheduledState>
        </inputPort>
        <outputPort>
          <id>0159101a-f936-18c6-fe9b-3078c7fe149e</id>
          <name>OUTPUT</name>
          <position x="580.0000000090397" y="2043.0001440587548"/>
          <comments/>
          <scheduledState>RUNNING</scheduledState>
        </outputPort>
        <connection>
          <id>01591019-f936-18c6-476a-9fcf1cb03ff0</id>
          <name/>
          <bendPoints/>
          <labelIndex>1</labelIndex>
          <zIndex>0</zIndex>
          <sourceId>01591018-f936-18c6-382c-fac872962824</sourceId>
          <sourceGroupId>01591007-f936-18c6-3a35-7773c3209aa8</sourceGroupId>
          <sourceType>INPUT_PORT</sourceType>
          <destinationId>0159100e-f936-18c6-4a37-274c6e64486f</destinationId>
          <destinationGroupId>01591007-f936-18c6-3a35-7773c3209aa8</destinationGroupId>
          <destinationType>PROCESSOR</destinationType>
          <relationship/>
          <maxWorkQueueSize>10000</maxWorkQueueSize>
          <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
          <flowFileExpiration>0 sec</flowFileExpiration>
        </connection>
        <connection>
          <id>01591011-f936-18c6-28b4-a47bef6b125a</id>
          <name/>
          <bendPoints/>
          <labelIndex>1</labelIndex>
          <zIndex>0</zIndex>
          <sourceId>0159100b-f936-18c6-6c3e-69ff4015657c</sourceId>
          <sourceGroupId>01591007-f936-18c6-3a35-7773c3209aa8</sourceGroupId>
          <sourceType>PROCESSOR</sourceType>
          <destinationId>01591009-f936-18c6-aaa3-5bfba1a86298</destinationId>
          <destinationGroupId>01591007-f936-18c6-3a35-7773c3209aa8</destinationGroupId>
          <destinationType>PROCESSOR</destinationType>
          <relationship>output stream</relationship>
          <maxWorkQueueSize>10000</maxWorkQueueSize>
          <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
          <flowFileExpiration>0 sec</flowFileExpiration>
        </connection>
        <connection>
          <id>01591015-f936-18c6-e0cb-8d994c8f7033</id>
          <name/>
          <bendPoints/>
          <labelIndex>1</labelIndex>
          <zIndex>0</zIndex>
          <sourceId>0159100a-f936-18c6-335f-cdc77fbbea67</sourceId>
          <sourceGroupId>01591007-f936-18c6-3a35-7773c3209aa8</sourceGroupId>
          <sourceType>PROCESSOR</sourceType>
          <destinationId>0159100b-f936-18c6-6c3e-69ff4015657c</destinationId>
          <destinationGroupId>01591007-f936-18c6-3a35-7773c3209aa8</destinationGroupId>
          <destinationType>PROCESSOR</destinationType>
          <relationship>success</relationship>
          <maxWorkQueueSize>10000</maxWorkQueueSize>
          <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
          <flowFileExpiration>0 sec</flowFileExpiration>
        </connection>
        <connection>
          <id>01591014-f936-18c6-f7af-2ac7ffdd16ec</id>
          <name/>
          <bendPoints/>
          <labelIndex>1</labelIndex>
          <zIndex>0</zIndex>
          <sourceId>0159100e-f936-18c6-4a37-274c6e64486f</sourceId>
          <sourceGroupId>01591007-f936-18c6-3a35-7773c3209aa8</sourceGroupId>
          <sourceType>PROCESSOR</sourceType>
          <destinationId>0159100f-f936-18c6-d4b3-29069cdd7ded</destinationId>
          <destinationGroupId>01591007-f936-18c6-3a35-7773c3209aa8</destinationGroupId>
          <destinationType>PROCESSOR</destinationType>
          <relationship>original</relationship>
          <maxWorkQueueSize>10000</maxWorkQueueSize>
          <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
          <flowFileExpiration>0 sec</flowFileExpiration>
        </connection>
        <connection>
          <id>0159101b-f936-18c6-eca2-6140100f38c5</id>
          <name/>
          <bendPoints/>
          <labelIndex>1</labelIndex>
          <zIndex>0</zIndex>
          <sourceId>01591009-f936-18c6-aaa3-5bfba1a86298</sourceId>
          <sourceGroupId>01591007-f936-18c6-3a35-7773c3209aa8</sourceGroupId>
          <sourceType>PROCESSOR</sourceType>
          <destinationId>0159101a-f936-18c6-fe9b-3078c7fe149e</destinationId>
          <destinationGroupId>01591007-f936-18c6-3a35-7773c3209aa8</destinationGroupId>
          <destinationType>OUTPUT_PORT</destinationType>
          <relationship>success</relationship>
          <maxWorkQueueSize>10000</maxWorkQueueSize>
          <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
          <flowFileExpiration>0 sec</flowFileExpiration>
        </connection>
        <connection>
          <id>01591013-f936-18c6-ac60-8209bca810b1</id>
          <name/>
          <bendPoints/>
          <labelIndex>1</labelIndex>
          <zIndex>0</zIndex>
          <sourceId>0159100d-f936-18c6-fecb-c9c2361ef5dd</sourceId>
          <sourceGroupId>01591007-f936-18c6-3a35-7773c3209aa8</sourceGroupId>
          <sourceType>PROCESSOR</sourceType>
          <destinationId>0159100a-f936-18c6-335f-cdc77fbbea67</destinationId>
          <destinationGroupId>01591007-f936-18c6-3a35-7773c3209aa8</destinationGroupId>
          <destinationType>PROCESSOR</destinationType>
          <relationship>matched</relationship>
          <maxWorkQueueSize>10000</maxWorkQueueSize>
          <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
          <flowFileExpiration>0 sec</flowFileExpiration>
        </connection>
        <connection>
          <id>01591012-f936-18c6-4777-2f92da6afee0</id>
          <name/>
          <bendPoints/>
          <labelIndex>1</labelIndex>
          <zIndex>0</zIndex>
          <sourceId>0159100f-f936-18c6-d4b3-29069cdd7ded</sourceId>
          <sourceGroupId>01591007-f936-18c6-3a35-7773c3209aa8</sourceGroupId>
          <sourceType>PROCESSOR</sourceType>
          <destinationId>01591010-f936-18c6-9402-703b6f9d0fdb</destinationId>
          <destinationGroupId>01591007-f936-18c6-3a35-7773c3209aa8</destinationGroupId>
          <destinationType>PROCESSOR</destinationType>
          <relationship>original</relationship>
          <maxWorkQueueSize>10000</maxWorkQueueSize>
          <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
          <flowFileExpiration>0 sec</flowFileExpiration>
        </connection>
        <connection>
          <id>01591016-f936-18c6-9362-141b406eb4bb</id>
          <name/>
          <bendPoints/>
          <labelIndex>1</labelIndex>
          <zIndex>0</zIndex>
          <sourceId>01591010-f936-18c6-9402-703b6f9d0fdb</sourceId>
          <sourceGroupId>01591007-f936-18c6-3a35-7773c3209aa8</sourceGroupId>
          <sourceType>PROCESSOR</sourceType>
          <destinationId>0159100c-f936-18c6-b014-280afda998ec</destinationId>
          <destinationGroupId>01591007-f936-18c6-3a35-7773c3209aa8</destinationGroupId>
          <destinationType>PROCESSOR</destinationType>
          <relationship>success</relationship>
          <maxWorkQueueSize>10000</maxWorkQueueSize>
          <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
          <flowFileExpiration>0 sec</flowFileExpiration>
        </connection>
        <connection>
          <id>01591017-f936-18c6-3b13-514ee399db5c</id>
          <name/>
          <bendPoints/>
          <labelIndex>1</labelIndex>
          <zIndex>0</zIndex>
          <sourceId>0159100c-f936-18c6-b014-280afda998ec</sourceId>
          <sourceGroupId>01591007-f936-18c6-3a35-7773c3209aa8</sourceGroupId>
          <sourceType>PROCESSOR</sourceType>
          <destinationId>0159100d-f936-18c6-fecb-c9c2361ef5dd</destinationId>
          <destinationGroupId>01591007-f936-18c6-3a35-7773c3209aa8</destinationGroupId>
          <destinationType>PROCESSOR</destinationType>
          <relationship>success</relationship>
          <maxWorkQueueSize>10000</maxWorkQueueSize>
          <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
          <flowFileExpiration>0 sec</flowFileExpiration>
        </connection>
      </processGroup>
      <connection>
        <id>d53f17ce-1000-1158-88d3-c91dda5c851d</id>
        <name/>
        <bendPoints/>
        <labelIndex>1</labelIndex>
        <zIndex>0</zIndex>
        <sourceId>d53e17c8-101e-1158-cd33-a2140ce10c75</sourceId>
        <sourceGroupId>bd8e588c-0159-1000-93b4-d77dbb7fb013</sourceGroupId>
        <sourceType>OUTPUT_PORT</sourceType>
        <destinationId>d53f17c3-1000-1158-fe5f-bc3e4411b043</destinationId>
        <destinationGroupId>07bdcf92-0158-1000-5d49-6c1d582ad17c</destinationGroupId>
        <destinationType>PROCESSOR</destinationType>
        <relationship/>
        <maxWorkQueueSize>10000</maxWorkQueueSize>
        <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
        <flowFileExpiration>0 sec</flowFileExpiration>
      </connection>
      <connection>
        <id>1000115f-1426-1e49-9d3f-d2c0a81eb06a</id>
        <name/>
        <bendPoints/>
        <labelIndex>1</labelIndex>
        <zIndex>0</zIndex>
        <sourceId>1000115d-1426-1e49-b409-7d07e2abed04</sourceId>
        <sourceGroupId>f1ce03ca-0159-1000-800a-e56d9c84369e</sourceGroupId>
        <sourceType>OUTPUT_PORT</sourceType>
        <destinationId>d53f17c3-1000-1158-fe5f-bc3e4411b043</destinationId>
        <destinationGroupId>07bdcf92-0158-1000-5d49-6c1d582ad17c</destinationGroupId>
        <destinationType>PROCESSOR</destinationType>
        <relationship/>
        <maxWorkQueueSize>10000</maxWorkQueueSize>
        <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
        <flowFileExpiration>0 sec</flowFileExpiration>
      </connection>
      <connection>
        <id>01591023-f936-18c6-ac12-8dc601382852</id>
        <name/>
        <bendPoints/>
        <labelIndex>1</labelIndex>
        <zIndex>0</zIndex>
        <sourceId>01591020-f936-18c6-8f5d-10232188b219</sourceId>
        <sourceGroupId>0159101d-f936-18c6-9da7-f6a6c01393db</sourceGroupId>
        <sourceType>OUTPUT_PORT</sourceType>
        <destinationId>01591018-f936-18c6-382c-fac872962824</destinationId>
        <destinationGroupId>01591007-f936-18c6-3a35-7773c3209aa8</destinationGroupId>
        <destinationType>INPUT_PORT</destinationType>
        <relationship/>
        <maxWorkQueueSize>10000</maxWorkQueueSize>
        <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
        <flowFileExpiration>0 sec</flowFileExpiration>
      </connection>
      <connection>
        <id>0159101c-f936-18c6-cc2a-9de38b5b2ab3</id>
        <name/>
        <bendPoints/>
        <labelIndex>1</labelIndex>
        <zIndex>0</zIndex>
        <sourceId>0159101a-f936-18c6-fe9b-3078c7fe149e</sourceId>
        <sourceGroupId>01591007-f936-18c6-3a35-7773c3209aa8</sourceGroupId>
        <sourceType>OUTPUT_PORT</sourceType>
        <destinationId>01591001-f936-18c6-7138-744c418902ad</destinationId>
        <destinationGroupId>10001162-1426-1e49-ef9c-47c2c773ea09</destinationGroupId>
        <destinationType>INPUT_PORT</destinationType>
        <relationship/>
        <maxWorkQueueSize>10000</maxWorkQueueSize>
        <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
        <flowFileExpiration>0 sec</flowFileExpiration>
      </connection>
      <connection>
        <id>01581007-8e4f-15a8-d784-ccc3ab9a41d7</id>
        <name/>
        <bendPoints/>
        <labelIndex>1</labelIndex>
        <zIndex>0</zIndex>
        <sourceId>d53f17c3-1000-1158-fe5f-bc3e4411b043</sourceId>
        <sourceGroupId>07bdcf92-0158-1000-5d49-6c1d582ad17c</sourceGroupId>
        <sourceType>PROCESSOR</sourceType>
        <destinationId>01581005-8e4f-15a8-49a6-ec1c228fb91a</destinationId>
        <destinationGroupId>01591025-f936-18c6-b66a-165b2ee904f1</destinationGroupId>
        <destinationType>INPUT_PORT</destinationType>
        <relationship>success</relationship>
        <maxWorkQueueSize>10000</maxWorkQueueSize>
        <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
        <flowFileExpiration>0 sec</flowFileExpiration>
      </connection>
      <connection>
        <id>01591024-f936-18c6-ede4-6e9a7c8f9a23</id>
        <name/>
        <bendPoints/>
        <labelIndex>1</labelIndex>
        <zIndex>0</zIndex>
        <sourceId>01591003-f936-18c6-6fd7-69893976635a</sourceId>
        <sourceGroupId>10001162-1426-1e49-ef9c-47c2c773ea09</sourceGroupId>
        <sourceType>OUTPUT_PORT</sourceType>
        <destinationId>d53f17c3-1000-1158-fe5f-bc3e4411b043</destinationId>
        <destinationGroupId>07bdcf92-0158-1000-5d49-6c1d582ad17c</destinationGroupId>
        <destinationType>PROCESSOR</destinationType>
        <relationship/>
        <maxWorkQueueSize>10000</maxWorkQueueSize>
        <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
        <flowFileExpiration>0 sec</flowFileExpiration>
      </connection>
      <connection>
        <id>d53f17cf-1000-1158-1775-30016649da5d</id>
        <name/>
        <bendPoints>
          <bendPoint x="896.3505178493306" y="1901.113549019543"/>
        </bendPoints>
        <labelIndex>1</labelIndex>
        <zIndex>0</zIndex>
        <sourceId>d53e17ca-1031-1158-0a0b-5948f56c9c43</sourceId>
        <sourceGroupId>bd8e588c-0159-1000-93b4-d77dbb7fb013</sourceGroupId>
        <sourceType>OUTPUT_PORT</sourceType>
        <destinationId>d53f17c3-1000-1158-fe5f-bc3e4411b043</destinationId>
        <destinationGroupId>07bdcf92-0158-1000-5d49-6c1d582ad17c</destinationGroupId>
        <destinationType>PROCESSOR</destinationType>
        <relationship/>
        <maxWorkQueueSize>10000</maxWorkQueueSize>
        <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
        <flowFileExpiration>0 sec</flowFileExpiration>
      </connection>
      <connection>
        <id>0158101d-8e4f-15a8-4136-19df9cf254e0</id>
        <name/>
        <bendPoints/>
        <labelIndex>1</labelIndex>
        <zIndex>0</zIndex>
        <sourceId>0158101b-8e4f-15a8-0baa-df65bec6bce8</sourceId>
        <sourceGroupId>01581008-8e4f-15a8-a144-ade9e4175646</sourceGroupId>
        <sourceType>OUTPUT_PORT</sourceType>
        <destinationId>d53e17c4-101e-1158-8cd9-f44e4a46a657</destinationId>
        <destinationGroupId>bd8e588c-0159-1000-93b4-d77dbb7fb013</destinationGroupId>
        <destinationType>INPUT_PORT</destinationType>
        <relationship/>
        <maxWorkQueueSize>10000</maxWorkQueueSize>
        <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
        <flowFileExpiration>0 sec</flowFileExpiration>
      </connection>
      <connection>
        <id>01591022-f936-18c6-037a-1c263d8d711e</id>
        <name/>
        <bendPoints/>
        <labelIndex>1</labelIndex>
        <zIndex>0</zIndex>
        <sourceId>d53e17c8-101e-1158-cd33-a2140ce10c75</sourceId>
        <sourceGroupId>bd8e588c-0159-1000-93b4-d77dbb7fb013</sourceGroupId>
        <sourceType>OUTPUT_PORT</sourceType>
        <destinationId>0159101f-f936-18c6-9e22-0d3db27a23af</destinationId>
        <destinationGroupId>0159101d-f936-18c6-9da7-f6a6c01393db</destinationGroupId>
        <destinationType>INPUT_PORT</destinationType>
        <relationship/>
        <maxWorkQueueSize>10000</maxWorkQueueSize>
        <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
        <flowFileExpiration>0 sec</flowFileExpiration>
      </connection>
      <connection>
        <id>01591006-f936-18c6-114f-1531f4a3b3da</id>
        <name/>
        <bendPoints/>
        <labelIndex>1</labelIndex>
        <zIndex>0</zIndex>
        <sourceId>01591003-f936-18c6-6fd7-69893976635a</sourceId>
        <sourceGroupId>10001162-1426-1e49-ef9c-47c2c773ea09</sourceGroupId>
        <sourceType>OUTPUT_PORT</sourceType>
        <destinationId>1000115b-1426-1e49-a647-9729efe598d4</destinationId>
        <destinationGroupId>f1ce03ca-0159-1000-800a-e56d9c84369e</destinationGroupId>
        <destinationType>INPUT_PORT</destinationType>
        <relationship/>
        <maxWorkQueueSize>10000</maxWorkQueueSize>
        <maxWorkQueueDataSize>1 GB</maxWorkQueueDataSize>
        <flowFileExpiration>0 sec</flowFileExpiration>
      </connection>
    </processGroup>
    <controllerService>
      <id>040bfcbe-0158-1000-af4f-397ec6553565</id>
      <name>DBCPConnectionPool</name>
      <comment/>
      <class>org.apache.nifi.dbcp.DBCPConnectionPool</class>
      <enabled>true</enabled>
      <property>
        <name>Database Connection URL</name>
        <value>jdbc:postgresql:omardb-1.9.0-prod</value>
      </property>
      <property>
        <name>Database Driver Class Name</name>
        <value>org.postgresql.Driver</value>
      </property>
      <property>
        <name>database-driver-locations</name>
      </property>
      <property>
        <name>Database User</name>
        <value>postgres</value>
      </property>
      <property>
        <name>Password</name>
        <value>enc{A1DA16EEB2BA8F79FE188D34E711575C495FB1B9033AD53EA334E2FA1BDF1354}</value>
      </property>
      <property>
        <name>Max Wait Time</name>
        <value>500 millis</value>
      </property>
      <property>
        <name>Max Total Connections</name>
        <value>8</value>
      </property>
    </controllerService>
    <template encoding-version="1.0">
  <description/>
  <groupId>07bdcf92-0158-1000-5d49-6c1d582ad17c</groupId>
  <id>cd77419e-a116-4590-81c3-fb55cb08105c</id>
  <name>ParseMetadata</name>
  <snippet>
    <connections>
      <id>8a0fa0c9-0158-1000-0000-000000000000</id>
      <parentGroupId>07bdcf92-0158-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>07bdcf92-0158-1000-0000-000000000000</groupId>
        <id>07bfd541-0158-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name/>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>07bdcf92-0158-1000-0000-000000000000</groupId>
        <id>8a0dd729-0158-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <connections>
      <id>01581015-d53e-17bf-0000-000000000000</id>
      <parentGroupId>07bdcf92-0158-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>07bdcf92-0158-1000-0000-000000000000</groupId>
        <id>07bfd540-0158-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name/>
      <selectedRelationships>split</selectedRelationships>
      <source>
        <groupId>07bdcf92-0158-1000-0000-000000000000</groupId>
        <id>07bfd541-0158-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <processors>
      <id>8a0dd729-0158-1000-0000-000000000000</id>
      <parentGroupId>07bdcf92-0158-1000-0000-000000000000</parentGroupId>
      <position>
        <x>30.81216321659531</x>
        <y>0.0</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments/>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Regular Expression</key>
            <value>
              <name>Regular Expression</name>
            </value>
          </entry>
          <entry>
            <key>Replacement Value</key>
            <value>
              <name>Replacement Value</name>
            </value>
          </entry>
          <entry>
            <key>Evaluation Mode</key>
            <value>
              <name>Evaluation Mode</name>
            </value>
          </entry>
          <entry>
            <key>Character Set</key>
            <value>
              <name>Character Set</name>
            </value>
          </entry>
          <entry>
            <key>Maximum Buffer Size</key>
            <value>
              <name>Maximum Buffer Size</name>
            </value>
          </entry>
          <entry>
            <key>Replacement Strategy</key>
            <value>
              <name>Replacement Strategy</name>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Regular Expression</key>
            <value>(?s:^.*$)</value>
          </entry>
          <entry>
            <key>Replacement Value</key>
            <value>${omarmetadata}</value>
          </entry>
          <entry>
            <key>Evaluation Mode</key>
            <value>Entire text</value>
          </entry>
          <entry>
            <key>Character Set</key>
            <value>UTF-8</value>
          </entry>
          <entry>
            <key>Maximum Buffer Size</key>
            <value>1 MB</value>
          </entry>
          <entry>
            <key>Replacement Strategy</key>
            <value>Always Replace</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>Write Metadata To Flow File Again</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style/>
      <type>org.apache.nifi.processors.standard.ReplaceText</type>
    </processors>
    <processors>
      <id>07bfd540-0158-1000-0000-000000000000</id>
      <parentGroupId>07bdcf92-0158-1000-0000-000000000000</parentGroupId>
      <position>
        <x>9.0440673828125</x>
        <y>525.407708550164</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments/>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Destination</key>
            <value>
              <name>Destination</name>
            </value>
          </entry>
          <entry>
            <key>acquisitionDate</key>
            <value>
              <name>acquisitionDate</name>
            </value>
          </entry>
          <entry>
            <key>description</key>
            <value>
              <name>description</name>
            </value>
          </entry>
          <entry>
            <key>Null Value Representation</key>
            <value>
              <name>Null Value Representation</name>
            </value>
          </entry>
          <entry>
            <key>className</key>
            <value>
              <name>className</name>
            </value>
          </entry>
          <entry>
            <key>imageCategory</key>
            <value>
              <name>imageCategory</name>
            </value>
          </entry>
          <entry>
            <key>numberOfResLevels</key>
            <value>
              <name>numberOfResLevels</name>
            </value>
          </entry>
          <entry>
            <key>azimuthAngle</key>
            <value>
              <name>azimuthAngle</name>
            </value>
          </entry>
          <entry>
            <key>title</key>
            <value>
              <name>title</name>
            </value>
          </entry>
          <entry>
            <key>Path Not Found Behavior</key>
            <value>
              <name>Path Not Found Behavior</name>
            </value>
          </entry>
          <entry>
            <key>entryId</key>
            <value>
              <name>entryId</name>
            </value>
          </entry>
          <entry>
            <key>numberOfBands</key>
            <value>
              <name>numberOfBands</name>
            </value>
          </entry>
          <entry>
            <key>countryCode</key>
            <value>
              <name>countryCode</name>
            </value>
          </entry>
          <entry>
            <key>tiePoints</key>
            <value>
              <name>tiePoints</name>
            </value>
          </entry>
          <entry>
            <key>groundGeom</key>
            <value>
              <name>groundGeom</name>
            </value>
          </entry>
          <entry>
            <key>height</key>
            <value>
              <name>height</name>
            </value>
          </entry>
          <entry>
            <key>grazingAngle</key>
            <value>
              <name>grazingAngle</name>
            </value>
          </entry>
          <entry>
            <key>sunElevation</key>
            <value>
              <name>sunElevation</name>
            </value>
          </entry>
          <entry>
            <key>imageId</key>
            <value>
              <name>imageId</name>
            </value>
          </entry>
          <entry>
            <key>missionId</key>
            <value>
              <name>missionId</name>
            </value>
          </entry>
          <entry>
            <key>productId</key>
            <value>
              <name>productId</name>
            </value>
          </entry>
          <entry>
            <key>sunAzimuth</key>
            <value>
              <name>sunAzimuth</name>
            </value>
          </entry>
          <entry>
            <key>Return Type</key>
            <value>
              <name>Return Type</name>
            </value>
          </entry>
          <entry>
            <key>dataType</key>
            <value>
              <name>dataType</name>
            </value>
          </entry>
          <entry>
            <key>isctlh</key>
            <value>
              <name>isctlh</name>
            </value>
          </entry>
          <entry>
            <key>securityClassification</key>
            <value>
              <name>securityClassification</name>
            </value>
          </entry>
          <entry>
            <key>cloudCover</key>
            <value>
              <name>cloudCover</name>
            </value>
          </entry>
          <entry>
            <key>beNumber</key>
            <value>
              <name>beNumber</name>
            </value>
          </entry>
          <entry>
            <key>imageRepresentation</key>
            <value>
              <name>imageRepresentation</name>
            </value>
          </entry>
          <entry>
            <key>gsdx</key>
            <value>
              <name>gsdx</name>
            </value>
          </entry>
          <entry>
            <key>niirs</key>
            <value>
              <name>niirs</name>
            </value>
          </entry>
          <entry>
            <key>gsdy</key>
            <value>
              <name>gsdy</name>
            </value>
          </entry>
          <entry>
            <key>shadowAngle</key>
            <value>
              <name>shadowAngle</name>
            </value>
          </entry>
          <entry>
            <key>bitDepth</key>
            <value>
              <name>bitDepth</name>
            </value>
          </entry>
          <entry>
            <key>entryName</key>
            <value>
              <name>entryName</name>
            </value>
          </entry>
          <entry>
            <key>organization</key>
            <value>
              <name>organization</name>
            </value>
          </entry>
          <entry>
            <key>width</key>
            <value>
              <name>width</name>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Destination</key>
            <value>flowfile-attribute</value>
          </entry>
          <entry>
            <key>acquisitionDate</key>
            <value>acquisitionDate</value>
          </entry>
          <entry>
            <key>description</key>
            <value>description</value>
          </entry>
          <entry>
            <key>Null Value Representation</key>
            <value>the string 'null'</value>
          </entry>
          <entry>
            <key>className</key>
            <value>className</value>
          </entry>
          <entry>
            <key>imageCategory</key>
            <value>imageCategory</value>
          </entry>
          <entry>
            <key>numberOfResLevels</key>
            <value>numberOfResLevels</value>
          </entry>
          <entry>
            <key>azimuthAngle</key>
            <value>azimuthAngle</value>
          </entry>
          <entry>
            <key>title</key>
            <value>title</value>
          </entry>
          <entry>
            <key>Path Not Found Behavior</key>
            <value>ignore</value>
          </entry>
          <entry>
            <key>entryId</key>
            <value>entryId</value>
          </entry>
          <entry>
            <key>numberOfBands</key>
            <value>numberOfBands</value>
          </entry>
          <entry>
            <key>countryCode</key>
            <value>countryCode</value>
          </entry>
          <entry>
            <key>tiePoints</key>
            <value>tiePoints</value>
          </entry>
          <entry>
            <key>groundGeom</key>
            <value>groundGeom</value>
          </entry>
          <entry>
            <key>height</key>
            <value>height</value>
          </entry>
          <entry>
            <key>grazingAngle</key>
            <value>grazingAngle</value>
          </entry>
          <entry>
            <key>sunElevation</key>
            <value>sunElevation</value>
          </entry>
          <entry>
            <key>imageId</key>
            <value>imageId</value>
          </entry>
          <entry>
            <key>missionId</key>
            <value>missionId</value>
          </entry>
          <entry>
            <key>productId</key>
            <value>productId</value>
          </entry>
          <entry>
            <key>sunAzimuth</key>
            <value>sunAzimuth</value>
          </entry>
          <entry>
            <key>Return Type</key>
            <value>scalar</value>
          </entry>
          <entry>
            <key>dataType</key>
            <value>dataType</value>
          </entry>
          <entry>
            <key>isctlh</key>
            <value>isctlh</value>
          </entry>
          <entry>
            <key>securityClassification</key>
            <value>securityClassification</value>
          </entry>
          <entry>
            <key>cloudCover</key>
            <value>cloudCover</value>
          </entry>
          <entry>
            <key>beNumber</key>
            <value>beNumber</value>
          </entry>
          <entry>
            <key>imageRepresentation</key>
            <value>imageRepresentation</value>
          </entry>
          <entry>
            <key>gsdx</key>
            <value>gsdx</value>
          </entry>
          <entry>
            <key>niirs</key>
            <value>niirs</value>
          </entry>
          <entry>
            <key>gsdy</key>
            <value>gsdy</value>
          </entry>
          <entry>
            <key>shadowAngle</key>
            <value>shadowAngle</value>
          </entry>
          <entry>
            <key>bitDepth</key>
            <value>bitDepth</value>
          </entry>
          <entry>
            <key>entryName</key>
            <value>entryName</value>
          </entry>
          <entry>
            <key>organization</key>
            <value>organization</value>
          </entry>
          <entry>
            <key>width</key>
            <value>width</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>Write Metadata to Attibutes</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>matched</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>unmatched</name>
      </relationships>
      <style/>
      <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
    </processors>
    <processors>
      <id>07bfd541-0158-1000-0000-000000000000</id>
      <parentGroupId>07bdcf92-0158-1000-0000-000000000000</parentGroupId>
      <position>
        <x>0.0</x>
        <y>262.736565972039</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments>$.* is supposed to split a json root array according to stackoverflow</comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Null Value Representation</key>
            <value>
              <name>Null Value Representation</name>
            </value>
          </entry>
          <entry>
            <key>JsonPath Expression</key>
            <value>
              <name>JsonPath Expression</name>
            </value>
          </entry>
        </descriptors>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Null Value Representation</key>
            <value>empty string</value>
          </entry>
          <entry>
            <key>JsonPath Expression</key>
            <value>$.*</value>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>Split Image Entries</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>failure</name>
      </relationships>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>original</name>
      </relationships>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>split</name>
      </relationships>
      <style/>
      <type>org.apache.nifi.processors.standard.SplitJson</type>
    </processors>
  </snippet>
  <timestamp>01/30/2017 19:36:39 EST</timestamp>
</template>
  </rootGroup>
  <controllerServices>
    <controllerService>
      <id>040a1ada-0158-1000-7dfd-4a47806803ec</id>
      <name>DBCPConnectionPool</name>
      <comment/>
      <class>org.apache.nifi.dbcp.DBCPConnectionPool</class>
      <enabled>true</enabled>
      <property>
        <name>Database Connection URL</name>
        <value>jdbc:postgresql://localhost/omardb-1.9.0-prod</value>
      </property>
      <property>
        <name>Database Driver Class Name</name>
        <value>org.postgresql.Driver</value>
      </property>
      <property>
        <name>database-driver-locations</name>
        <value>/data/software/nifi/nifi-1.0.0/lib/postgresql-9.3-1103-jdbc41.jar</value>
      </property>
      <property>
        <name>Database User</name>
        <value>postgres</value>
      </property>
      <property>
        <name>Password</name>
        <value>enc{12FE5643EE99289877D3486A4110BD8FBE65E79E4713076AB065E6BD9BA8AA85}</value>
      </property>
      <property>
        <name>Max Wait Time</name>
        <value>500 millis</value>
      </property>
      <property>
        <name>Max Total Connections</name>
        <value>8</value>
      </property>
    </controllerService>
  </controllerServices>
  <reportingTasks/>
</flowController>
